In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import Counter
import math

In [38]:
from tqdm import tqdm

In [39]:
pd.set_option('display.max_columns', None)

In [40]:
df = pd.read_csv("../out.csv")

In [41]:
def str2function(function, equation_type):
    """
    Converts a string representation of an equation into a lambda function with the correct variables and mathematical expressions.

    ### Parameters:
    - **function** (`str`): The string representation of the equation.
    - **equation_type** (`str`): The type of equation, which can be "vol", "bio", or "car". This determines the specific variable replacements and list of variables used.

    ### Returns:
    - **function** (`lambda`): The generated lambda function based on the input string.
    - **filtered_list** (`list`): The list of variables used in the lambda function.

    ### Example Usage:
    ```python
    equation_str = "[d130] * [ht] + [p]"
    lambda_func, variables = str2function(equation_str, "bio")
    result = lambda_func(10, 5, 0.9)  # Example usage of the lambda function
    ```

    ### Notes:
    - The function performs necessary replacements (like `[d130]` to `d130`) and handles specific mathematical expressions like `Exp` and `LOG`.
    """

    # Replacements and variables based on the equation type
    replacements = {
        "vol": {
            "[d130]": "d130",
            "[ht]": "ht"
        },
        "bio": {
            "Exp": "math.exp",
            "[p]": "densi",
            "[v]": "v",
            "[d130]": "d130",
            "[ht]": "ht",
            "LOG": "math.log"
        },
        "car": {
            "[b]": "b",
            "[d130]": "d130",
            "[ht]": "ht"
        }
    }

    variable_sets = {
        "vol": ["d130", "ht"],
        "bio": ["densi", "v", "d130", "ht"],
        "car": ["b", "d130", "ht"]
    }

    # Validate equation_type
    if equation_type not in replacements or equation_type not in variable_sets:
        raise ValueError(f'{equation_type} is not known. The only available options are "vol", "bio", "car".')

    # Apply replacements based on the equation type
    for key, value in replacements[equation_type].items():
        function = function.replace(key, value)

    # Filter the variables based on which are used in the function
    variables = variable_sets[equation_type]
    filtered_list = [var for var in variables if var in function]

    # Generate the lambda function
    lambda_function = eval(f'lambda {", ".join(filtered_list)}: {function}')

    return lambda_function, filtered_list

In [6]:
df.loc[15]

id                                                              16
anio_levantamiento                                            2005
conglomerado                                                   153
sitio                                                            1
condicion                                                    Toc√≥n
especie_id                                                  2270.0
familia                                               Cupressaceae
genero                                                   Juniperus
epiteto                                                        NaN
categoria_infra                                                NaN
infraespecie                                                   NaN
numero_arbol                                                    14
numero_tallo                                                   NaN
tallos                                                         NaN
diametro                                                      16.5
altura                                                         0.3
is_predicted                                                   0.0
latitud                                                  32.448351
longitud                                               -116.077138
clave_ecoregion_n2                                            11.1
clave_bur                                                      BCO
referencia_1                               caracteristica_arbolado
referencia_2                                                    14
user_id                                                        1.0
created_at                                 2019-11-14 20:24:49.070
updated_at                                 2019-11-14 20:24:49.070
grado_putrefaccion                                             NaN
clave_ecoregion_n1                                              11
clave_ecoregion_n3                                          11.1.3
clave_ecoregion_n4                                        11.1.3.1
estado_inegi                                                     2
estado                                             Baja California
edad                                                           NaN
carbon_eq                                             (0.4911*[b])
biomasa_eq            (3.14159 * (([d130] / 2 / 100) ** 2) * [ht])
densidad_eq                                                 0.4612
volumen_eq            (3.14159 * (([d130] / 2 / 100) ** 2) * [ht])
Name: 15, dtype: object

In [7]:
df.biomasa_eq.value_counts()

biomasa_eq
(Exp(-2.754)*[d130]**2.574)                                30661
Exp(-2.27)*([d130]**2.39)                                  11213
(3.14159 * (([d130] / 2 / 100) ** 2) * [ht]) / 3            9328
Exp(0.9173)*([d130]**1.0730)                                6452
Exp(-1.6469)*([d130]**2.1255)                               5974
(Exp(-2.084)*[d130]**2.323)                                 5029
(1.7737)*([d130]**1.2282)                                   4199
(0.283)*((([d130]**2)*[ht])**0.807)                         3464
(Exp(-0.877)*[d130]**1.98)                                  2805
(0.0416)*([d130]**2.7154)                                   2055
(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([ht]))))))     1954
(0.0841)*([d130]**2.41)                                     1803
(Exp(-2.592)*[d130]**2.585)                                 1718
(0.1354)*([d130]**2.3033)                                   1659
(0.0342)*([d130]**2.7590)                                   1356
(Exp(-3.066)*[d130]**2.646)                                 1330
(3.14159 * (([d130] / 2 / 100) ** 2) * [ht])                1246
(0.058)*((([d130]**2)*[ht])**0.919)                         1188
Exp(-1.852)*([d130]**2.378)                                  996
(Exp(-3.549)*[d130]**2.787)                                  871
(0.0890)*([d130]**2.5226)                                    830
(Exp(-3.139)*[d130]**2.585)                                  646
Exp(-1.291)*([d130]**2.178)                                  607
(-40.102)+1.787*[d130]+10.182*[ht]                           465
Exp(-4.005)*([d130]**2.653)                                  405
(0.0333)*([d130]**2.6648)                                    321
(0.45534)*([d130]**2)                                        291
(0.092)*([d130]**2.448)                                      239
(Exp(-3.264)*[d130]**2.707)                                  204
(0.3700)*([d130]**1.9600)                                    193
(Exp(-3.039)*[d130]**2.523)                                  110
(Exp(-1.922)*[d130]**2.321)                                  102
(0.00166)*([d130]**3.6586)                                    52
(0.1382)*([d130]**2.3573)                                     49
(Exp(-1.482)*[d130]**2.129)                                   37
(Exp(-3.573)*[d130]**2.746)                                   31
Exp(-1.6200)*([d130]**2.1200)                                 16
(0.0754)*([d130]**2.513)                                      15
Exp(-3.369)*([d130]**2.934)                                   14
(0.2666)*([d130]**2)                                          11
Exp(-2.14)*([d130]**2.23)                                      9
(10**-1.417)*([d130]**2.755)                                   9
(10**-0.755)*([d130]**2.072)                                   8
(0.2018)*([d130]**2.2907)                                      8
(0.40196)*([d130]**2)                                          7
(Exp(-3.416)*[d130]**2.715)                                    5
(Exp(-3.065)*[d130]**2.625)                                    5
(0.887+((10486*[d130]**2.84)/([d130]**2.84 + 376907)))         4
(0.35179)*([d130]**2)                                          2
(0.1649)*([d130]**2.2755)                                      2
(0.031661)*([d130]**2.62221)                                   1
Exp(-1.76)*([d130]**2.26)                                      1
(Exp(-2.611)*[d130]**2.531)                                    1
Name: count, dtype: int64

In [45]:
for row in tqdm(df.itertuples(), total=len(df)):
            index = row.Index
            try:
                f, var = str2function(row.biomasa_eq, "bio")
                if var == ['densi', 'd130', 'ht']:
                    df.at[index, 'biomasa'] = f(float(row.densidad_eq), row.diametro, row.altura)
                elif var == ['d130', 'ht']:
                    df.at[index, 'biomasa'] = f(row.diametro, row.altura)
                elif var == ['densi', 'v']:
                    df.at[index, 'biomasa'] = f(float(row.densidad_eq), row.volumen)
                else:
                    df.at[index, 'biomasa'] = f(row.diametro)
            except Exception as e:
                print(f"Error calculating biomass at index {index}: {e}")
                break

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 100001/100001 [00:02<00:00, 46059.49it/s]

In [42]:
row = df.iloc[937]

In [43]:
row.biomasa_eq

'Exp(0.9173)*([d130]**1.0730)'

In [44]:
row

id                                                938
anio_levantamiento                               2005
conglomerado                                     1049
sitio                                               2
condicion                                        Vivo
especie_id                                    13840.0
familia                                     Cactaceae
genero                                      Carnegiea
epiteto                                      gigantea
categoria_infra                                   NaN
infraespecie                                      NaN
numero_arbol                                        1
numero_tallo                                      NaN
tallos                                            0.0
diametro                                          7.5
altura                                           5.35
is_predicted                                      0.0
latitud                                       31.9438
longitud                                  -113.220547
clave_ecoregion_n2                               10.2
clave_bur                                        MXnL
referencia_1          caracteristica_vegetacion_mayor
referencia_2                                    92686
user_id                                           1.0
created_at                    2019-11-14 20:24:49.070
updated_at                    2019-11-14 20:24:49.070
grado_putrefaccion                                NaN
clave_ecoregion_n1                                 10
clave_ecoregion_n3                             10.2.2
clave_ecoregion_n4                           10.2.2.6
estado_inegi                                       26
estado                                         Sonora
edad                                              NaN
carbon_eq                                   [b]*0.447
biomasa_eq               Exp(0.9173)*([d130]**1.0730)
densidad_eq                                   0.55779
volumen_eq                                        NaN
Name: 937, dtype: object

In [16]:
f,var,st = str2function(row.biomasa_eq, "bio")

In [18]:
float(row.densidad_eq), row.diametro, row.altura

(0.55779, 0.0, 5.35)

In [17]:
f(float(row.densidad_eq), row.diametro, row.altura)

ValueError: math domain error

In [15]:
(math.exp(-2.187+(0.916*(math.log((0.4612)*((16.5)**2)*(0.3))))))

3.117412128603401

In [19]:
st

'(math.exp(-2.187+(0.916*(math.log((densi)*((d130)**2)*(ht))))))'

In [ ]:
for row in tqdm(df.itertuples(), total=len(df)):
    index = row.Index
    try:
        f, var = str2function(row.biomasa_eq, "bio")
        if var == ['densi', 'd130', 'ht']:
            df.at[index, 'biomasa'] = f(float(row.densidad_eq), row.diametro, row.altura)
        elif var == ['d130', 'ht']:
            df.at[index, 'biomasa'] = f(row.diametro, row.altura)
        elif var == ['densi', 'v']:
            df.at[index, 'biomasa'] = f(float(row.densidad_eq), row.volumen)
        else:
            df.at[index, 'biomasa'] = f(row.diametro)
    except Exception as e:
        print(f"Error calculating biomass at index {index}: {e}")
        print(row.biomasa_eq)

In [23]:
m = pd.read_csv("../csvs/modelo2.csv")

In [27]:
m.iloc[0,6]

'(0.1649)*([d130]**2.2755)'