In [ ]:
import math
import pandas as pd
import numpy as np
from tqdm import tqdm

In [11]:
pd.set_option('display.max_columns', None)

In [19]:
def str2function(function, equation_type):
    """
    Converts a string representation of an equation into a lambda function with the correct variables and mathematical expressions.

    ### Parameters:
    - **function** (`str`): The string representation of the equation.
    - **equation_type** (`str`): The type of equation, which can be "vol", "bio", or "car". This determines the specific variable replacements and list of variables used.

    ### Returns:
    - **function** (`lambda`): The generated lambda function based on the input string.
    - **filtered_list** (`list`): The list of variables used in the lambda function.

    ### Example Usage:
    ```python
    equation_str = "[d130] * [ht] + [p]"
    lambda_func, variables = str2function(equation_str, "bio")
    result = lambda_func(10, 5, 0.9)  # Example usage of the lambda function
    ```

    ### Notes:
    - The function performs necessary replacements (like `[d130]` to `d130`) and handles specific mathematical expressions like `Exp` and `LOG`.
    """

    # Replacements and variables based on the equation type
    replacements = {
        "vol": {
            "[d130]": "d130",
            "[ht]": "ht"
        },
        "bio": {
            "Exp": "math.exp",
            "[p]": "densi",
            "[v]": "v",
            "[d130]": "d130",
            "[ht]": "ht",
            "LOG": "math.log",
            "p": 'p'
        },
        "car": {
            "[b]": "b",
            "[d130]": "d130",
            "[ht]": "ht"
        }
    }

    variable_sets = {
        "vol": ["d130", "ht"],
        "bio": ["densi", "v", "d130", "ht"],
        "car": ["b", "d130", "ht","p"]
    }

    # Validate equation_type
    if equation_type not in replacements or equation_type not in variable_sets:
        raise ValueError(f'{equation_type} is not known. The only available options are "vol", "bio", "car".')

    # Apply replacements based on the equation type
    for key, value in replacements[equation_type].items():
        function = function.replace(key, value)

    # Filter the variables based on which are used in the function
    variables = variable_sets[equation_type]
    filtered_list = [var for var in variables if var in function]

    # Generate the lambda function
    lambda_function = eval(f'lambda {", ".join(filtered_list)}: {function}')

    return lambda_function, filtered_list


def calculate_values(df, calculate=["volumen", "biomasa", "carbono"]):
    """
    Calculates volume, biomass, and carbon based on equations provided in the DataFrame.

    ### Parameters:
    - **df** (`pd.DataFrame`): DataFrame containing the data along with the equations for volume, biomass, and carbon.
    - **calculate** (`list` of `str`): List of strings indicating which values to calculate. 
      Options include "volumen", "biomasa", and "carbono". Default is to calculate all.

    ### Returns:
    - **df** (`pd.DataFrame`): The input DataFrame with additional columns for calculated volume, biomass, and carbon 
      based on the specified calculation.

    ### Notes:
    - The function uses the `str2function` helper to dynamically convert equation strings to lambda functions.
    - The function handles different variable combinations based on the equations and assigns the calculated values to the corresponding columns.
    """

    # Initialize the result columns if they are specified in the calculate list
    if "volumen" in calculate:
        df['volumen'] = np.nan
    if "biomasa" in calculate:
        df['biomasa'] = np.nan
    if "carbono" in calculate:
        df['carbono'] = np.nan

    if "volumen" in calculate:
        for row in tqdm(df.itertuples(), total=len(df)):
            index = row.Index
            try:
                if not pd.isnull(row.volumen_eq):
                    f, var = str2function(row.volumen_eq, "vol")
                    df.at[index, 'volumen'] = f(row.diametro, row.altura)
                else:
                    pass
            except Exception as e:
                print(f"Error calculating volume at index {index}: {e}")

    # Iterate over the DataFrame to calculate biomass if specified
    if "biomasa" in calculate:
        for row in tqdm(df.itertuples(), total=len(df)):
            index = row.Index
            try:
                f, var = str2function(row.biomasa_eq, "bio")
                print(var)
                if var == ['densi', 'd130', 'ht']:
                    df.at[index, 'biomasa'] = f(float(row.densidad_eq), row.diametro, row.altura)
                elif var == ['d130', 'ht']:
                    df.at[index, 'biomasa'] = f(row.diametro, row.altura)
                elif var == ['densi', 'v']:
                    df.at[index, 'biomasa'] = f(float(row.densidad_eq), row.volumen)
                else:
                    df.at[index, 'biomasa'] = f(row.diametro)
            except Exception as e:
                print(f"Error calculating biomass at index {index}: {e}")
                print(row.biomasa_eq)


    # Iterate over the DataFrame to calculate carbon if specified
    if "carbono" in calculate:
        for row in tqdm(df.itertuples(), total=len(df)):
            index = row.Index
            try:
                f, var = str2function(row.carbon_eq, "car")
                if var == ['b']:
                    df.at[index, 'carbono'] = f(row.biomasa)
                elif var == ['d130']:
                    df.at[index, 'carbono'] = f(row.diametro)
                else:
                    df.at[index, 'carbono'] = f(row.diametro, row.altura)
            except Exception as e:
                print(f"Error calculating carbon at index {index}: {e}")

    return df

In [3]:
arboles = f'../labs/arboles_1000_head.csv'
df = pd.read_csv(arboles)

/tmp/ipykernel_82626/4274141456.py:2: DtypeWarning: Columns (9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(arboles)

In [13]:
df

,id,anio_levantamiento,conglomerado,sitio,condicion,especie_id,familia,genero,epiteto,categoria_infra,infraespecie,numero_arbol,numero_tallo,tallos,diametro,altura,latitud,longitud,clave_ecoregion_n2,clave_bur,referencia_1,referencia_2,user_id,created_at,updated_at,grado_putrefaccion,clave_ecoregion_n1,clave_ecoregion_n3,clave_ecoregion_n4,estado_inegi,estado,edad
0,2886174,2016,50760,1,Vivo,NaN,Malvaceae,Hampea,trilobata,NaN,NaN,14,16.0,NaN,8.3,6.4,20.622000,-87.336694,15.2,SMQ,493302,16,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN
1,2886175,2016,50760,1,Vivo,NaN,Nyctaginaceae,Neea,psychotrioides,NaN,NaN,21,23.0,NaN,10.4,8.6,20.622000,-87.336694,15.2,SMQ,493309,23,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN
2,2886176,2016,50760,1,Vivo,NaN,Fabaceae,Lysiloma,latisiliquum,NaN,NaN,29,34.0,NaN,32.8,10.3,20.622000,-87.336694,15.2,SMQ,493320,34,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN
3,2886177,2016,50760,1,Vivo,NaN,Malvaceae,Luehea,speciosa,NaN,NaN,35,40.0,NaN,8.2,7.9,20.622000,-87.336694,15.2,SMQ,493326,40,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN
4,2886178,2016,50760,1,Vivo,NaN,Sapotaceae,Sideroxylon,salicifolium,NaN,NaN,44,49.0,NaN,9.8,6.8,20.622000,-87.336694,15.2,SMQ,493335,49,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
831326,3717500,2016,50303,1,Vivo,NaN,Fabaceae,Caesalpinia,platyloba,NaN,NaN,6,6.0,NaN,17.8,9.1,20.693639,-87.135167,15.2,SMQ,523099,6,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN
831327,3717501,2016,50303,2,Vivo,NaN,Fabaceae,Swartzia,cubensis,NaN,NaN,12,13.0,NaN,8.3,7.8,20.693639,-87.135167,15.2,SMQ,523135,13,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN
831328,3717502,2016,50303,2,Vivo,NaN,Arecaceae,Sabal,yapa,NaN,NaN,13,14.0,NaN,17.7,10.3,20.693639,-87.135167,15.2,SMQ,523136,14,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN
831329,3717503,2016,50303,2,Vivo,NaN,Sapotaceae,Manilkara,zapota,NaN,NaN,24,25.0,NaN,32.3,9.1,20.693639,-87.135167,15.2,SMQ,523147,25,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN
831330,3717504,2016,50303,2,Vivo,NaN,Anacardiaceae,Metopium,brownei,NaN,NaN,9,10.0,NaN,8.4,7.7,20.693639,-87.135167,15.2,SMQ,523132,10,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN

In [5]:
df.loc[[829660,829797,829822,829887]]

,id,anio_levantamiento,conglomerado,sitio,condicion,especie_id,familia,genero,epiteto,categoria_infra,...,user_id,created_at,updated_at,grado_putrefaccion,clave_ecoregion_n1,clave_ecoregion_n3,clave_ecoregion_n4,estado_inegi,estado,edad
829660,3715834,2018,50042,3,Tocón,NaN,Fabaceae,Piscidia,piscipula,NaN,...,NaN,NaN,NaN,2.0,15,15.2.1,15.2.1.1,31,Yucatán,NaN
829797,3715971,2016,50545,4,Tocón,NaN,ZZ Familia Desconocida,ZZ Genero Desconocido,NaN,NaN,...,NaN,NaN,NaN,3.0,13,13.4.2,13.4.2.2,18,Nayarit,NaN
829822,3715996,2019,50907,4,Tocón,NaN,ZZ Familia Desconocida,ZZ Genero Desconocido,NaN,NaN,...,NaN,NaN,NaN,1.0,15,15.1.2,15.1.2.2,30,Veracruz de Ignacio de la Llave,NaN
829887,3716061,2016,75151,1,Tocón,NaN,ZZ Familia Desconocida,ZZ Genero Desconocido,NaN,NaN,...,NaN,NaN,NaN,4.0,13,13.5.2,13.5.2.1,20,Oaxaca,NaN

In [8]:
result = f'../runs/run_{15}/calculo_bio_car_{15}_head.csv'
res = pd.read_csv(result)

/tmp/ipykernel_82626/3982409989.py:2: DtypeWarning: Columns (9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  res = pd.read_csv(result)

In [17]:
r = res.loc[[829660,829797,829822,829887]]

In [ ]:
def calculate_values(df, calculate=["volumen", "biomasa", "carbono"]):
    """
    Calculates volume, biomass, and carbon based on equations provided in the DataFrame.

    ### Parameters:
    - **df** (`pd.DataFrame`): DataFrame containing the data along with the equations for volume, biomass, and carbon.
    - **calculate** (`list` of `str`): List of strings indicating which values to calculate. 
      Options include "volumen", "biomasa", and "carbono". Default is to calculate all.

    ### Returns:
    - **df** (`pd.DataFrame`): The input DataFrame with additional columns for calculated volume, biomass, and carbon 
      based on the specified calculation.

    ### Notes:
    - The function uses the `str2function` helper to dynamically convert equation strings to lambda functions.
    - The function handles different variable combinations based on the equations and assigns the calculated values to the corresponding columns.
    """

    # Initialize the result columns if they are specified in the calculate list
    if "volumen" in calculate:
        df['volumen'] = np.nan
    if "biomasa" in calculate:
        df['biomasa'] = np.nan
    if "carbono" in calculate:
        df['carbono'] = np.nan

    if "volumen" in calculate:
        for row in tqdm(df.itertuples(), total=len(df)):
            index = row.Index
            try:
                if not pd.isnull(row.volumen_eq):
                    f, var = str2function(row.volumen_eq, "vol")
                    df.at[index, 'volumen'] = f(row.diametro, row.altura)
                else:
                    pass
            except Exception as e:
                print(f"Error calculating volume at index {index}: {e}")

    # Iterate over the DataFrame to calculate biomass if specified
    if "biomasa" in calculate:
        for row in tqdm(df.itertuples(), total=len(df)):
            index = row.Index
            try:
                f, var = str2function(row.biomasa_eq, "bio")
                print(var)
                if var == ['densi', 'd130', 'ht']:
                    df.at[index, 'biomasa'] = f(float(row.densidad_eq), row.diametro, row.altura)
                elif var == ['d130', 'ht']:
                    df.at[index, 'biomasa'] = f(row.diametro, row.altura)
                elif var == ['densi', 'v']:
                    df.at[index, 'biomasa'] = f(float(row.densidad_eq), row.volumen)
                elif var = ['d130', 'ht', 'p']:
                    df.at[index, 'biomasa'] = f(float(row.densidad_eq), row.diametro, row.densidad_eq)
                else:
                    df.at[index, 'biomasa'] = f(row.diametro)
            except Exception as e:
                print(f"Error calculating biomass at index {index}: {e}")
                print(row.biomasa_eq)


    # Iterate over the DataFrame to calculate carbon if specified
    if "carbono" in calculate:
        for row in tqdm(df.itertuples(), total=len(df)):
            index = row.Index
            try:
                f, var = str2function(row.carbon_eq, "car")
                if var == ['b']:
                    df.at[index, 'carbono'] = f(row.biomasa)
                elif var == ['d130']:
                    df.at[index, 'carbono'] = f(row.diametro)
                else:
                    df.at[index, 'carbono'] = f(row.diametro, row.altura)
            except Exception as e:
                print(f"Error calculating carbon at index {index}: {e}")

    return df

In [20]:
calculate_values(r, calculate=["volumen", "biomasa", "carbono"])

100%|██████████████████████████████████████████| 4/4 [00:00<00:00, 16432.14it/s]
100%|██████████████████████████████████████████| 4/4 [00:00<00:00, 20661.60it/s]

['d130', 'ht']
Error calculating biomass at index 829660: name 'p' is not defined
(3.14159 * (([d130] / 2 / 100) ** 2) * [ht])/2.0 * p
['d130', 'ht']
Error calculating biomass at index 829797: name 'p' is not defined
(3.14159 * (([d130] / 2 / 100) ** 2) * [ht])/3.0 * p
['d130', 'ht']
Error calculating biomass at index 829822: name 'p' is not defined
(3.14159 * (([d130] / 2 / 100) ** 2) * [ht])/1.0 * p
['d130', 'ht']
Error calculating biomass at index 829887: name 'p' is not defined
(3.14159 * (([d130] / 2 / 100) ** 2) * [ht])/4.0 * p

100%|██████████████████████████████████████████| 4/4 [00:00<00:00, 22369.62it/s]

,id,anio_levantamiento,conglomerado,sitio,condicion,especie_id,familia,genero,epiteto,categoria_infra,infraespecie,numero_arbol,numero_tallo,tallos,diametro,altura,is_predicted,latitud,longitud,clave_ecoregion_n2,clave_bur,referencia_1,referencia_2,user_id,created_at,updated_at,grado_putrefaccion,clave_ecoregion_n1,clave_ecoregion_n3,clave_ecoregion_n4,estado_inegi,estado,edad,carbon_eq,biomasa_eq,densidad_eq,volumen_eq,volumen,biomasa,carbono
829660,3715834,2018,50042,3,Tocón,NaN,Fabaceae,Piscidia,piscipula,NaN,NaN,8,8.0,NaN,13.9,0.40,0.0,20.868639,-88.522306,15.2,TA,730195,8,NaN,NaN,NaN,2.0,15,15.2.1,15.2.1.1,31,Yucatán,NaN,(0.484*[b]),(3.14159 * (([d130] / 2 / 100) ** 2) * [ht])/2...,NaN,(3.14159 * (([d130] / 2 / 100) ** 2) * [ht])/2.0,0.003035,NaN,NaN
829797,3715971,2016,50545,4,Tocón,NaN,ZZ Familia Desconocida,ZZ Genero Desconocido,NaN,NaN,NaN,20,20.0,NaN,34.5,0.35,0.0,21.302167,-104.766583,13.4,BQP,475415,20,NaN,NaN,NaN,3.0,13,13.4.2,13.4.2.2,18,Nayarit,NaN,[b]*0.447,(3.14159 * (([d130] / 2 / 100) ** 2) * [ht])/3...,NaN,(3.14159 * (([d130] / 2 / 100) ** 2) * [ht])/3.0,0.010906,NaN,NaN
829822,3715996,2019,50907,4,Tocón,NaN,ZZ Familia Desconocida,ZZ Genero Desconocido,NaN,NaN,NaN,16,19.0,NaN,22.5,0.70,0.0,21.238917,-98.376778,15.1,TAS,817529,19,NaN,NaN,NaN,1.0,15,15.1.2,15.1.2.2,30,Veracruz de Ignacio de la Llave,NaN,[b]*0.447,(3.14159 * (([d130] / 2 / 100) ** 2) * [ht])/1...,NaN,(3.14159 * (([d130] / 2 / 100) ** 2) * [ht])/1.0,0.027833,NaN,NaN
829887,3716061,2016,75151,1,Tocón,NaN,ZZ Familia Desconocida,ZZ Genero Desconocido,NaN,NaN,NaN,10,10.0,NaN,24.8,0.30,0.0,16.677333,-97.184944,13.5,BP,523349,10,NaN,NaN,NaN,4.0,13,13.5.2,13.5.2.1,20,Oaxaca,NaN,[b]*0.447,(3.14159 * (([d130] / 2 / 100) ** 2) * [ht])/4...,NaN,(3.14159 * (([d130] / 2 / 100) ** 2) * [ht])/4.0,0.003623,NaN,NaN

In [ ]:
3715834,3715971,3715996,3716061

In [30]:
def str2function(function, equation_type):
    """
    Converts a string representation of an equation into a lambda function with the correct variables and mathematical expressions.

    ### Parameters:
    - **function** (`str`): The string representation of the equation.
    - **equation_type** (`str`): The type of equation, which can be "vol", "bio", or "car". This determines the specific variable replacements and list of variables used.

    ### Returns:
    - **function** (`lambda`): The generated lambda function based on the input string.
    - **filtered_list** (`list`): The list of variables used in the lambda function.

    ### Example Usage:
    ```python
    equation_str = "[d130] * [ht] + [p]"
    lambda_func, variables = str2function(equation_str, "bio")
    result = lambda_func(10, 5, 0.9)  # Example usage of the lambda function
    ```

    ### Notes:
    - The function performs necessary replacements (like `[d130]` to `d130`) and handles specific mathematical expressions like `Exp` and `LOG`.
    """

    # Replacements and variables based on the equation type
    replacements = {
        "vol": {
            "[d130]": "d130",
            "[ht]": "ht"
        },
        "bio": {
            "Exp": "math.exp",
            "[p]": "densi",
            "[v]": "v",
            "[d130]": "d130",
            "[ht]": "ht",
            "LOG": "math.log"
        },
        "car": {
            "[b]": "b",
            "[d130]": "d130",
            "[ht]": "ht"
        }
    }

    variable_sets = {
        "vol": ["d130", "ht"],
        "bio": ["densi", "v", "d130", "ht", "p"],
        "car": ["b", "d130", "ht","p"]
    }

    # Validate equation_type
    if equation_type not in replacements or equation_type not in variable_sets:
        raise ValueError(f'{equation_type} is not known. The only available options are "vol", "bio", "car".')

    # Apply replacements based on the equation type
    for key, value in replacements[equation_type].items():
        function = function.replace(key, value)
    print(function)

    # Filter the variables based on which are used in the function
    variables = variable_sets[equation_type]
    filtered_list = [var for var in variables if var in function]

    # Generate the lambda function
    lambda_function = eval(f'lambda {", ".join(filtered_list)}: {function}')

    return lambda_function, filtered_list

In [22]:
function = "(3.14159 * (([d130] / 2 / 100) ** 2) * [ht])/1.0 * p"

In [31]:
f, v = str2function(function, "bio")
f,v

(3.14159 * ((d130 / 2 / 100) ** 2) * ht)/1.0 * p

(<function __main__.<lambda>(d130, ht, p)>, ['d130', 'ht', 'p'])

In [32]:
f(1,1,1)

7.853975e-05

In [ ]:
d,h,p = 13.9,0.40