In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv("out_tocones.csv", low_memory=False)
modelos = pd.read_excel("csvs/modelos.xlsx")

In [4]:
df

,id,anio_levantamiento,conglomerado,sitio,condicion,especie_id,familia,genero,epiteto,categoria_infra,infraespecie,numero_arbol,numero_tallo,tallos,diametro,altura,is_predicted,latitud,longitud,clave_ecoregion_n2,clave_bur,referencia_1,referencia_2,user_id,created_at,updated_at,grado_putrefaccion,clave_ecoregion_n1,clave_ecoregion_n3,clave_ecoregion_n4,estado_inegi,estado,edad
0,2886174,2016,50760,1,Vivo,NaN,Malvaceae,Hampea,trilobata,NaN,NaN,14,16.0,NaN,8.3,6.4,0.0,20.622000,-87.336694,15.2,SMQ,493302,16,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN
1,2886175,2016,50760,1,Vivo,NaN,Nyctaginaceae,Neea,psychotrioides,NaN,NaN,21,23.0,NaN,10.4,8.6,0.0,20.622000,-87.336694,15.2,SMQ,493309,23,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN
2,2886176,2016,50760,1,Vivo,NaN,Fabaceae,Lysiloma,latisiliquum,NaN,NaN,29,34.0,NaN,32.8,10.3,0.0,20.622000,-87.336694,15.2,SMQ,493320,34,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN
3,2886177,2016,50760,1,Vivo,NaN,Malvaceae,Luehea,speciosa,NaN,NaN,35,40.0,NaN,8.2,7.9,0.0,20.622000,-87.336694,15.2,SMQ,493326,40,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN
4,2886178,2016,50760,1,Vivo,NaN,Sapotaceae,Sideroxylon,salicifolium,NaN,NaN,44,49.0,NaN,9.8,6.8,0.0,20.622000,-87.336694,15.2,SMQ,493335,49,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
830745,3717500,2016,50303,1,Vivo,NaN,Fabaceae,Caesalpinia,platyloba,NaN,NaN,6,6.0,NaN,17.8,9.1,0.0,20.693639,-87.135167,15.2,SMQ,523099,6,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN
830746,3717501,2016,50303,2,Vivo,NaN,Fabaceae,Swartzia,cubensis,NaN,NaN,12,13.0,NaN,8.3,7.8,0.0,20.693639,-87.135167,15.2,SMQ,523135,13,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN
830747,3717502,2016,50303,2,Vivo,NaN,Arecaceae,Sabal,yapa,NaN,NaN,13,14.0,NaN,17.7,10.3,0.0,20.693639,-87.135167,15.2,SMQ,523136,14,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN
830748,3717503,2016,50303,2,Vivo,NaN,Sapotaceae,Manilkara,zapota,NaN,NaN,24,25.0,NaN,32.3,9.1,0.0,20.693639,-87.135167,15.2,SMQ,523147,25,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN
830749,3717504,2016,50303,2,Vivo,NaN,Anacardiaceae,Metopium,brownei,NaN,NaN,9,10.0,NaN,8.4,7.7,0.0,20.693639,-87.135167,15.2,SMQ,523132,10,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN

In [4]:
df1 = pd.read_csv("csvs/arboles_2015.csv",low_memory=False)

In [5]:
modelos.head()

,id,id_anterior,variable_resultado,tipo,ecuacion,ecuacion_php,especie_id,familia,genero,epiteto,condicion,componente,diametro_min,diametro_max,numero_arboles,r2,anio_publicacion,grado_putrefaccion,clave_ecoregion_n1,clave_ecoregion_n2,clave_ecoregion_n3,clave_ecoregion_n4,clave_bur,clave_estado_inegi,activo,id_especie_mn,id_modelo_mn,referencia,id_referencia,notas
0,1,1.0,b,NaN,(0.1649)*(d130^2.2755),(0.1649)*([d130]**2.2755),NaN,Betulaceae,Alnus,arguta,Vivo,Todo el árbol,6.2,45.0,22.0,0.9677,2001.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,329.0,Ecuaciones Rojas,1.0,NaN
1,2,2.0,b,NaN,Exp(-2.14)*(d130^2.23),Exp(-2.14)*([d130]**2.23),NaN,Betulaceae,Alnus,glabrata,Vivo,Todo el árbol,3.9,23.5,10.0,0.9700,2002.0,NaN,14.0,14.5,14.5.1,14.5.1.2,NaN,NaN,1,17201.0,13.0,Ecuaciones Rojas,3.0,NaN
2,3,3.0,b,NaN,Exp(-2.14)*(d130^2.23),Exp(-2.14)*([d130]**2.23),NaN,Betulaceae,Alnus,glabrata,Vivo,Todo el árbol,3.9,23.5,10.0,0.9700,2002.0,NaN,15.0,15.3,15.3.1,15.3.1.1,NaN,NaN,1,17201.0,13.0,Ecuaciones Rojas,3.0,NaN
3,4,4.0,b,NaN,Exp(-2.14)*(d130^2.23),Exp(-2.14)*([d130]**2.23),NaN,Betulaceae,Alnus,NaN,Vivo,Todo el árbol,3.9,23.5,10.0,0.9700,2002.0,NaN,14.0,14.5,14.5.1,14.5.1.2,NaN,NaN,1,17201.0,13.0,Ecuaciones Rojas,4.0,NaN
4,5,5.0,b,NaN,Exp(-2.14)*(d130^2.23),Exp(-2.14)*([d130]**2.23),NaN,Betulaceae,Alnus,NaN,Vivo,Todo el árbol,3.9,23.5,10.0,0.9700,2002.0,NaN,15.0,15.3,15.3.1,15.3.1.1,NaN,NaN,1,17201.0,13.0,Ecuaciones Rojas,4.0,NaN

In [6]:
df.is_predicted.value_counts()

is_predicted
0.0    809968
2.0     13718
1.0      7064
Name: count, dtype: int64

In [7]:
df.id.isnull().any()

np.False_

# normalizacion

In [9]:
df[(df.condicion == "Tocón") & (df.altura <= 0)]

,id,anio_levantamiento,conglomerado,sitio,condicion,especie_id,familia,genero,epiteto,categoria_infra,infraespecie,numero_arbol,numero_tallo,tallos,diametro,altura,is_predicted,latitud,longitud,clave_ecoregion_n2,clave_bur,referencia_1,referencia_2,user_id,created_at,updated_at,grado_putrefaccion,clave_ecoregion_n1,clave_ecoregion_n3,clave_ecoregion_n4,estado_inegi,estado,edad
116,2886290,2019,75163,4,Tocón,NaN,ZZ Familia Desconocida,ZZ Genero Desconocido,NaN,NaN,NaN,3,3.0,NaN,13.0,0.40,0.0,16.658000,-96.623583,14.4,BQ,857537,3,NaN,NaN,NaN,2.0,14,14.4.3,14.4.3.3,20,Oaxaca,NaN
130,2886304,2016,50545,1,Tocón,NaN,Fagaceae,Quercus,magnoliifolia,NaN,NaN,10,10.0,NaN,36.5,NaN,0.0,21.302167,-104.766583,13.4,BQP,475352,10,NaN,NaN,NaN,3.0,13,13.4.2,13.4.2.2,18,Nayarit,NaN
131,2886305,2016,50545,1,Tocón,NaN,Fagaceae,Quercus,magnoliifolia,NaN,NaN,13,13.0,NaN,13.2,0.31,0.0,21.302167,-104.766583,13.4,BQP,475355,13,NaN,NaN,NaN,3.0,13,13.4.2,13.4.2.2,18,Nayarit,NaN
225,2886399,2016,50078,1,Tocón,NaN,ZZ Familia Desconocida,ZZ Genero Desconocido,NaN,NaN,NaN,1,1.0,NaN,13.8,NaN,0.0,21.387500,-105.058917,15.5,SMQ,521110,1,NaN,NaN,NaN,2.0,15,15.5.2,15.5.2.2,18,Nayarit,NaN
226,2886400,2016,50078,1,Tocón,NaN,ZZ Familia Desconocida,ZZ Genero Desconocido,NaN,NaN,NaN,5,5.0,NaN,11.8,NaN,0.0,21.387500,-105.058917,15.5,SMQ,521114,5,NaN,NaN,NaN,2.0,15,15.5.2,15.5.2.2,18,Nayarit,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
830448,3717203,2015,50197,2,Tocón,NaN,Fagaceae,Quercus,rugosa,NaN,NaN,2,2.0,NaN,12.5,0.50,0.0,21.394111,-99.293306,13.3,BQ,246211,2,NaN,NaN,NaN,NaN,13,13.3.1,13.3.1.1,22,Querétaro,NaN
830530,3717285,2016,75151,3,Tocón,NaN,ZZ Familia Desconocida,ZZ Genero Desconocido,NaN,NaN,NaN,7,7.0,NaN,39.1,NaN,0.0,16.677333,-97.184944,13.5,BP,523384,7,NaN,NaN,NaN,4.0,13,13.5.2,13.5.2.1,20,Oaxaca,NaN
830538,3717293,2019,49821,4,Tocón,NaN,ZZ Familia Desconocida,ZZ Genero Desconocido,NaN,NaN,NaN,26,26.0,NaN,25.5,0.40,0.0,20.866306,-87.989278,15.2,SMS,859238,26,NaN,NaN,NaN,4.0,15,15.2.1,15.2.1.1,31,Yucatán,NaN
830595,3717350,2016,50148,2,Tocón,NaN,ZZ Familia Desconocida,ZZ Genero Desconocido,NaN,NaN,NaN,3,12.0,NaN,22.7,0.40,0.0,21.417778,-101.667278,12.2,BQP,521231,12,NaN,NaN,NaN,3.0,12,12.2.1,12.2.1.2,14,Jalisco,NaN
830628,3717383,2017,50179,1,Tocón,NaN,ZZ Familia Desconocida,ZZ Genero Desconocido,NaN,NaN,NaN,23,24.0,NaN,54.3,0.37,0.0,21.406944,-100.165333,13.3,BQP,654372,24,NaN,NaN,NaN,3.0,13,13.3.1,13.3.1.1,11,Guanajuato,NaN

In [25]:
df.diametro[(df.condicion == "Vivo") & (df.diametro.isnull())] = 15

/tmp/ipykernel_14801/2660231379.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df.diametro[(df.condicion == "Vivo") & (df.diametro.isnull())] = 15
/tmp/ipykernel_14801/2660231379.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.diametro[(df.condicion == "Vivo") & (df.diametro.isnull())] = 15

In [24]:
df.altura[(df.condicion == "Vivo") & (df.altura.isnull())]

Series([], Name: altura, dtype: float64)

In [21]:
df.altura[(df.condicion == "Muerto") & (df.altura.isnull())] = 2.8

/tmp/ipykernel_14801/110991496.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df.altura[(df.condicion == "Muerto") & (df.altura.isnull())] = 2.8
/tmp/ipykernel_14801/110991496.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.altura[(df.condicion == "Muerto") & (df.altura.isnull())] = 2.8

In [16]:
df.diametro[(df.condicion == "Tocón") & (df.diametro.isnull())] = 10

/tmp/ipykernel_14801/1054066010.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df.diametro[(df.condicion == "Tocón") & (df.diametro.isnull())] = 10
/tmp/ipykernel_14801/1054066010.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.diametro[(df.condicion == "Tocón") & (df.diametro.isnull())] = 10

In [17]:
df.diametro[(df.condicion == "Tocón") & (df.diametro.isnull())]

Series([], Name: diametro, dtype: float64)

In [22]:
df.loc[501115]

id                         3387622
anio_levantamiento            2015
conglomerado                 76944
sitio                            2
condicion                   Muerto
especie_id                     NaN
familia               Siparunaceae
genero                    Siparuna
epiteto                 thecaphora
categoria_infra                NaN
infraespecie                   NaN
numero_arbol                     5
numero_tallo                  10.0
tallos                         NaN
diametro                      15.5
altura                         2.8
is_predicted                   0.0
latitud                   16.18925
longitud                -97.438333
clave_ecoregion_n2            13.5
clave_bur                       BM
referencia_1                 79069
referencia_2                     5
user_id                        NaN
created_at                     NaN
updated_at                     NaN
grado_putrefaccion             NaN
clave_ecoregion_n1              13
clave_ecoregion_n3          13.5.2
clave_ecoregion_n4        13.5.2.3
estado_inegi                    20
estado                      Oaxaca
edad                           NaN
Name: 501115, dtype: object

In [88]:
df[df.id == 2886304]

,id,anio_levantamiento,conglomerado,sitio,condicion,especie_id,familia,genero,epiteto,categoria_infra,infraespecie,numero_arbol,numero_tallo,tallos,diametro,altura,is_predicted,latitud,longitud,clave_ecoregion_n2,clave_bur,referencia_1,referencia_2,user_id,created_at,updated_at,grado_putrefaccion,clave_ecoregion_n1,clave_ecoregion_n3,clave_ecoregion_n4,estado_inegi,estado,edad
130,2886304,2016,50545,1,Tocón,NaN,Fagaceae,Quercus,magnoliifolia,NaN,NaN,10,10.0,NaN,36.5,0.3,0.0,21.302167,-104.766583,13.4,BQP,475352,10,NaN,NaN,NaN,3.0,13,13.4.2,13.4.2.2,18,Nayarit,NaN

In [26]:
df.diametro[(df.diametro.isnull())]

Series([], Name: diametro, dtype: float64)

In [27]:
df.altura[(df.altura.isnull())]

Series([], Name: altura, dtype: float64)

# densidad

In [28]:
conditions_den = [
    (lambda df,row: df[(df.genero == row.genero) & (df.epiteto == row.epiteto)]),
    (lambda df,row: df[(df.genero == row.genero) & (df.epiteto.isnull())]),
    (lambda df,row: df[(df.genero == row.genero)]),
    (lambda df,row: df[df.clave_ecoregion_n2 == row.clave_ecoregion_n2]) 
]

In [29]:
n = len(df)

In [30]:
equations = modelos[modelos.variable_resultado == "p"]

In [31]:
p_eq = np.empty(n, dtype=object)

In [34]:
for index, row in df.iterrows():
    flag = False
    for eq in  conditions_den:
        equation_df = eq(equations, row)    
        if not equation_df.empty:
            p_eq[index] = equation_df.iloc[0,5]
            flag = True
            break
    if not flag:
        print(index)

53280
58254
61677

In [35]:
p_eq

array(['0.35341', '0.314', '0.53441', ..., '0.61222', '0.79789',
       '0.61789'], dtype=object)

In [36]:
df.iloc[53280]

id                                            2939461
anio_levantamiento                               2015
conglomerado                                    51860
sitio                                               2
condicion                                      Muerto
especie_id                                        NaN
familia                        ZZ Familia Desconocida
genero                          ZZ Genero Desconocido
epiteto                                           NaN
categoria_infra                                   NaN
infraespecie                                      NaN
numero_arbol                                        2
numero_tallo                                      3.0
tallos                                            NaN
diametro                                          9.6
altura                                            5.8
is_predicted                                      0.0
latitud                                     21.030306
longitud                                   -97.367194
clave_ecoregion_n2                                0.0
clave_bur                                          VM
referencia_1                                    57396
referencia_2                                        2
user_id                                           NaN
created_at                                        NaN
updated_at                                        NaN
grado_putrefaccion                                NaN
clave_ecoregion_n1                                  0
clave_ecoregion_n3                                NaN
clave_ecoregion_n4                                NaN
estado_inegi                                       30
estado                Veracruz de Ignacio de la Llave
edad                                              NaN
Name: 53280, dtype: object

In [20]:
equation_df

,id,id_anterior,variable_resultado,tipo,ecuacion,ecuacion_php,especie_id,familia,genero,epiteto,condicion,componente,diametro_min,diametro_max,numero_arboles,r2,anio_publicacion,grado_putrefaccion,clave_ecoregion_n1,clave_ecoregion_n2,clave_ecoregion_n3,clave_ecoregion_n4,clave_bur,clave_estado_inegi,activo,id_especie_mn,id_modelo_mn,referencia,id_referencia,notas
2862,2863,2847.0,p,NaN,0.55677,0.55677,NaN,NaN,NaN,NaN,Todos,Todo el árbol,NaN,NaN,NaN,0.0,NaN,NaN,NaN,13.4,NaN,NaN,NaN,NaN,1,NaN,50389.0,SEByC,50389.0,NaN

In [22]:
equation_df.iloc[0,5]

'0.55677'

In [17]:
df.loc[53275]

id                                            2939461
anio_levantamiento                               2015
conglomerado                                    51860
sitio                                               2
condicion                                      Muerto
especie_id                                        NaN
familia                        ZZ Familia Desconocida
genero                          ZZ Genero Desconocido
epiteto                                           NaN
categoria_infra                                   NaN
infraespecie                                      NaN
numero_arbol                                        2
numero_tallo                                      3.0
tallos                                            NaN
diametro                                          9.6
altura                                            5.8
is_predicted                                      0.0
latitud                                     21.030306
longitud                                   -97.367194
clave_ecoregion_n2                                0.0
clave_bur                                          VM
referencia_1                                    57396
referencia_2                                        2
user_id                                           NaN
created_at                                        NaN
updated_at                                        NaN
grado_putrefaccion                                NaN
clave_ecoregion_n1                                  0
clave_ecoregion_n3                                NaN
clave_ecoregion_n4                                NaN
estado_inegi                                       30
estado                Veracruz de Ignacio de la Llave
edad                                              NaN
Name: 53275, dtype: object

# biomasa

In [37]:
conditions_bio = [

            
            lambda df, row: df[(df.genero == row.genero) & (df.epiteto == row.epiteto) 
                    & (df.clave_ecoregion_n2 == row.clave_ecoregion_n2) & (df.clave_bur == row.clave_bur) 
                    & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],   
    
            lambda df, row: df[(df.genero == row.genero) & (df.epiteto == row.epiteto) 
                    & (df.clave_ecoregion_n2 == row.clave_ecoregion_n2) 
                    & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],  
    
            lambda df, row: df[(df.genero == row.genero) & (df.epiteto == row.epiteto)
                    & (df.clave_bur == row.clave_bur) 
                    & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],
    
            lambda df, row: df[(df.genero == row.genero) & (df.epiteto == row.epiteto) 
                    & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],

    
    
            lambda df, row: df[(df.genero == row.genero) & (df.epiteto.isnull()) 
                    & (df.clave_ecoregion_n2 == row.clave_ecoregion_n2) & (df.clave_bur == row.clave_bur) 
                    & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],
    
            lambda df, row: df[(df.genero == row.genero) & (df.epiteto.isnull()) 
                    & (df.clave_ecoregion_n2 == row.clave_ecoregion_n2) 
                    & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],
    
            lambda df, row: df[(df.genero == row.genero) & (df.epiteto.isnull())
                    & (df.clave_bur == row.clave_bur)
                    & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],
    
            lambda df, row: df[(df.genero == row.genero) & (df.epiteto.isnull()) 
                    & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],



    
    
            lambda df, row: df[(df.genero == row.genero) 
                    & (df.clave_ecoregion_n2 == row.clave_ecoregion_n2) & (df.clave_bur == row.clave_bur) 
                    & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],
    
            lambda df, row: df[(df.genero == row.genero)
                    & (df.clave_ecoregion_n2 == row.clave_ecoregion_n2)                 
                    & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],
    
            lambda df, row: df[(df.genero == row.genero)
                    & (df.clave_bur == row.clave_bur)
                    & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],
    
            lambda df, row: df[(df.genero == row.genero)
                    & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],

    

    
            lambda df, row: df[(df.clave_ecoregion_n2 == row.clave_ecoregion_n2)
                    & (df.clave_bur == row.clave_bur)
                    & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],
    
            lambda df, row: df[(df.clave_ecoregion_n2 == row.clave_ecoregion_n2)
                    & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],
    
            lambda df, row: df[(df.clave_bur == row.clave_bur)
                    & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],

    
            
            
            lambda df, row: df[(df.condicion == "Vivo")
                    & (df.tipo == "General")],
            lambda df, row: df[(df.condicion == "Muerto")
                    & (df.tipo == "General")]
            ]

In [38]:
equations = modelos[(modelos.variable_resultado == "b") & (modelos.activo ==1)]

In [39]:
equations[(equations.condicion == "Vivo") & (equations.tipo == "General")]

,id,id_anterior,variable_resultado,tipo,ecuacion,ecuacion_php,especie_id,familia,genero,epiteto,condicion,componente,diametro_min,diametro_max,numero_arboles,r2,anio_publicacion,grado_putrefaccion,clave_ecoregion_n1,clave_ecoregion_n2,clave_ecoregion_n3,clave_ecoregion_n4,clave_bur,clave_estado_inegi,activo,id_especie_mn,id_modelo_mn,referencia,id_referencia,notas
455,456,440.0,b,General,(Exp(-2.187+(0.916*(LN((p)*((d130)^2)*(ht)))))),(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,NaN,NaN,NaN,NaN,Vivo,Todo el árbol,NaN,NaN,NaN,NaN,NaN,NaN,9.0,9.50,9.5.1,9.5.1.2,NaN,NaN,1,NaN,NaN,Ecuaciones Chave,1.0,NaN
456,457,441.0,b,General,(Exp(-2.187+(0.916*(LN((p)*((d130)^2)*(ht)))))),(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,NaN,NaN,NaN,NaN,Vivo,Todo el árbol,NaN,NaN,NaN,NaN,NaN,NaN,9.0,9.60,9.6.1,9.6.1.1,NaN,NaN,1,NaN,NaN,Ecuaciones Chave,1.0,NaN
457,458,442.0,b,General,(Exp(-2.187+(0.916*(LN((p)*((d130)^2)*(ht)))))),(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,NaN,NaN,NaN,NaN,Vivo,Todo el árbol,NaN,NaN,NaN,NaN,NaN,NaN,9.0,9.60,9.6.1,9.6.1.2,NaN,NaN,1,NaN,NaN,Ecuaciones Chave,1.0,NaN
458,459,443.0,b,General,(Exp(-2.187+(0.916*(LN((p)*((d130)^2)*(ht)))))),(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,NaN,NaN,NaN,NaN,Vivo,Todo el árbol,NaN,NaN,NaN,NaN,NaN,NaN,9.0,9.99,9.99,9.99,NaN,NaN,1,NaN,NaN,Ecuaciones Chave,1.0,NaN
459,460,444.0,b,General,(Exp(-2.187+(0.916*(LN((p)*((d130)^2)*(ht)))))),(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,NaN,NaN,NaN,NaN,Vivo,Todo el árbol,NaN,NaN,NaN,NaN,NaN,NaN,10.0,10.20,10.2.2,10.2.2.5,NaN,NaN,1,NaN,NaN,Ecuaciones Chave,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
556,557,541.0,b,General,(Exp(-2.977+LN((p)*((d130)^2)*(ht)))),(Exp(-2.977+LOG(([p])*(([d130])**2)*([ht])))),NaN,NaN,NaN,NaN,Vivo,Todo el árbol,NaN,NaN,NaN,NaN,NaN,NaN,15.0,15.10,15.1.2,15.1.2.1,NaN,NaN,1,NaN,NaN,Ecuaciones Chave,10.0,NaN
557,558,542.0,b,General,(Exp(-2.977+LN((p)*((d130)^2)*(ht)))),(Exp(-2.977+LOG(([p])*(([d130])**2)*([ht])))),NaN,NaN,NaN,NaN,Vivo,Todo el árbol,NaN,NaN,NaN,NaN,NaN,NaN,15.0,15.20,15.2.2,15.2.2.1,NaN,NaN,1,NaN,NaN,Ecuaciones Chave,10.0,NaN
558,559,543.0,b,General,(Exp(-2.977+LN((p)*((d130)^2)*(ht)))),(Exp(-2.977+LOG(([p])*(([d130])**2)*([ht])))),NaN,NaN,NaN,NaN,Vivo,Todo el árbol,NaN,NaN,NaN,NaN,NaN,NaN,15.0,15.50,15.5.1,15.5.1.1,NaN,NaN,1,NaN,NaN,Ecuaciones Chave,10.0,NaN
559,560,544.0,b,General,(Exp(-2.977+LN((p)*((d130)^2)*(ht)))),(Exp(-2.977+LOG(([p])*(([d130])**2)*([ht])))),NaN,NaN,NaN,NaN,Vivo,Todo el árbol,NaN,NaN,NaN,NaN,NaN,NaN,15.0,15.50,15.5.2,15.5.2.1,NaN,NaN,1,NaN,NaN,Ecuaciones Chave,10.0,NaN
560,561,545.0,b,General,(Exp(-2.977+LN((p)*((d130)^2)*(ht)))),(Exp(-2.977+LOG(([p])*(([d130])**2)*([ht])))),NaN,NaN,NaN,NaN,Vivo,Todo el árbol,NaN,NaN,NaN,NaN,NaN,NaN,15.0,15.60,15.6.1,15.6.1.1,NaN,NaN,1,NaN,NaN,Ecuaciones Chave,10.0,NaN

In [40]:
df_vivo = df[df.condicion == "Vivo"]

In [41]:
b_eq = np.empty(n, dtype=object)

In [42]:
for index, row in df_vivo.iterrows():
    flag = False
    for eq  in conditions_bio:
        equation_df = eq(equations, row)    
        if not equation_df.empty:
            b_eq[index] = equation_df.iloc[0,5]
            flag = True
            break
    if not flag:
        print(index)

In [60]:
b_eq[13]

In [43]:
df_muerto = df[df.condicion == "Muerto"]
df_tocon = df[df.condicion == "Tocón"]

In [44]:
for index, row in df_muerto.iterrows():
    b_eq[index] = modelos.iloc[2886,5]

In [45]:
for index, row in df_tocon.iterrows():
    b_eq[index] = modelos.iloc[2889,5]

In [93]:
df_muerto.grado_putrefaccion.value_counts()

grado_putrefaccion
2.0    16
3.0    12
1.0     6
Name: count, dtype: int64

In [99]:
modelos.iloc[2889,5]

'1000 * ([p] * [v])*(3/6)'

In [49]:
equation_df

,id,id_anterior,variable_resultado,tipo,ecuacion,ecuacion_php,especie_id,familia,genero,epiteto,condicion,componente,diametro_min,diametro_max,numero_arboles,r2,anio_publicacion,grado_putrefaccion,clave_ecoregion_n1,clave_ecoregion_n2,clave_ecoregion_n3,clave_ecoregion_n4,clave_bur,clave_estado_inegi,activo,id_especie_mn,id_modelo_mn,referencia,id_referencia,notas
455,456,440.0,b,General,(Exp(-2.187+(0.916*(LN((p)*((d130)^2)*(ht)))))),(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,NaN,NaN,NaN,NaN,Vivo,Todo el árbol,NaN,NaN,NaN,NaN,NaN,NaN,9.0,9.50,9.5.1,9.5.1.2,NaN,NaN,1,NaN,NaN,Ecuaciones Chave,1.0,NaN
456,457,441.0,b,General,(Exp(-2.187+(0.916*(LN((p)*((d130)^2)*(ht)))))),(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,NaN,NaN,NaN,NaN,Vivo,Todo el árbol,NaN,NaN,NaN,NaN,NaN,NaN,9.0,9.60,9.6.1,9.6.1.1,NaN,NaN,1,NaN,NaN,Ecuaciones Chave,1.0,NaN
457,458,442.0,b,General,(Exp(-2.187+(0.916*(LN((p)*((d130)^2)*(ht)))))),(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,NaN,NaN,NaN,NaN,Vivo,Todo el árbol,NaN,NaN,NaN,NaN,NaN,NaN,9.0,9.60,9.6.1,9.6.1.2,NaN,NaN,1,NaN,NaN,Ecuaciones Chave,1.0,NaN
458,459,443.0,b,General,(Exp(-2.187+(0.916*(LN((p)*((d130)^2)*(ht)))))),(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,NaN,NaN,NaN,NaN,Vivo,Todo el árbol,NaN,NaN,NaN,NaN,NaN,NaN,9.0,9.99,9.99,9.99,NaN,NaN,1,NaN,NaN,Ecuaciones Chave,1.0,NaN
459,460,444.0,b,General,(Exp(-2.187+(0.916*(LN((p)*((d130)^2)*(ht)))))),(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,NaN,NaN,NaN,NaN,Vivo,Todo el árbol,NaN,NaN,NaN,NaN,NaN,NaN,10.0,10.20,10.2.2,10.2.2.5,NaN,NaN,1,NaN,NaN,Ecuaciones Chave,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
556,557,541.0,b,General,(Exp(-2.977+LN((p)*((d130)^2)*(ht)))),(Exp(-2.977+LOG(([p])*(([d130])**2)*([ht])))),NaN,NaN,NaN,NaN,Vivo,Todo el árbol,NaN,NaN,NaN,NaN,NaN,NaN,15.0,15.10,15.1.2,15.1.2.1,NaN,NaN,1,NaN,NaN,Ecuaciones Chave,10.0,NaN
557,558,542.0,b,General,(Exp(-2.977+LN((p)*((d130)^2)*(ht)))),(Exp(-2.977+LOG(([p])*(([d130])**2)*([ht])))),NaN,NaN,NaN,NaN,Vivo,Todo el árbol,NaN,NaN,NaN,NaN,NaN,NaN,15.0,15.20,15.2.2,15.2.2.1,NaN,NaN,1,NaN,NaN,Ecuaciones Chave,10.0,NaN
558,559,543.0,b,General,(Exp(-2.977+LN((p)*((d130)^2)*(ht)))),(Exp(-2.977+LOG(([p])*(([d130])**2)*([ht])))),NaN,NaN,NaN,NaN,Vivo,Todo el árbol,NaN,NaN,NaN,NaN,NaN,NaN,15.0,15.50,15.5.1,15.5.1.1,NaN,NaN,1,NaN,NaN,Ecuaciones Chave,10.0,NaN
559,560,544.0,b,General,(Exp(-2.977+LN((p)*((d130)^2)*(ht)))),(Exp(-2.977+LOG(([p])*(([d130])**2)*([ht])))),NaN,NaN,NaN,NaN,Vivo,Todo el árbol,NaN,NaN,NaN,NaN,NaN,NaN,15.0,15.50,15.5.2,15.5.2.1,NaN,NaN,1,NaN,NaN,Ecuaciones Chave,10.0,NaN
560,561,545.0,b,General,(Exp(-2.977+LN((p)*((d130)^2)*(ht)))),(Exp(-2.977+LOG(([p])*(([d130])**2)*([ht])))),NaN,NaN,NaN,NaN,Vivo,Todo el árbol,NaN,NaN,NaN,NaN,NaN,NaN,15.0,15.60,15.6.1,15.6.1.1,NaN,NaN,1,NaN,NaN,Ecuaciones Chave,10.0,NaN

In [46]:
b_eq

array(['(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([ht]))))))',
       '(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([ht]))))))',
       'Exp(-1.852)*([d130]**2.378)', ...,
       '(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([ht]))))))',
       '(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([ht]))))))',
       '(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([ht]))))))'],
      dtype=object)

In [50]:
np.save('b_eq.npy', b_eq)

In [51]:
np.save('p_eq.npy', p_eq)

In [ ]:
df.density_equation.value_counts()

In [ ]:
a

# asignacion carbono

In [41]:
conditions_eq_2 = [
    lambda df, row: df[(df.genero == row.genero) & (df.epiteto == row.epiteto) 
        & (df.clave_ecoregion_n2 == row.clave_ecoregion_n2) & (df.clave_bur == row.clave_bur) 
        & (df.diametro_min >= row.diametro) & (df.diametro_max >= row.diametro)],

    lambda df, row: df[(df.genero == row.genero) & (df.epiteto == row.epiteto) 
        & (df.clave_ecoregion_n2 == row.clave_ecoregion_n2) 
        & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],

    lambda df, row: df[(df.genero == row.genero) & (df.epiteto == row.epiteto) 
        & (df.clave_bur == row.clave_bur) 
        & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],

    lambda df, row: df[(df.genero == row.genero) & (df.epiteto == row.epiteto) 
        & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],

    lambda df, row: df[(df.genero == row.genero) & (df.epiteto.isnull()) 
        & (df.clave_ecoregion_n2 == row.clave_ecoregion_n2) & (df.clave_bur == row.clave_bur) 
        & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],

    lambda df, row: df[(df.genero == row.genero) & (df.epiteto.isnull()) 
        & (df.clave_ecoregion_n2 == row.clave_ecoregion_n2) 
        & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],

    lambda df, row: df[(df.genero == row.genero) & (df.epiteto.isnull()) 
        & (df.clave_bur == row.clave_bur) 
        & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],

    lambda df, row: df[(df.genero == row.genero) & (df.epiteto.isnull()) 
        & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],

    lambda df, row: df[(df.genero == row.genero) 
        & (df.clave_ecoregion_n2 == row.clave_ecoregion_n2) & (df.clave_bur == row.clave_bur) 
        & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],

    lambda df, row: df[(df.genero == row.genero)
        & (df.clave_ecoregion_n2 == row.clave_ecoregion_n2) 
        & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],

    lambda df, row: df[(df.genero == row.genero) 
        & (df.clave_bur == row.clave_bur) 
        & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],

    lambda df, row: df[(df.genero == row.genero) 
        & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],

    lambda df, row: df[(df.genero == row.genero) & (df.epiteto == row.epiteto) 
        & (df.diametro_min.isnull()) & (df.diametro_max.isnull())],

    lambda df, row: df[(df.genero == row.genero) & (df.epiteto.isnull()) 
        & (df.diametro_min.isnull()) & (df.diametro_max.isnull())],

    lambda df, row: df[(df.genero == row.genero)
        & (df.diametro_min.isnull()) & (df.diametro_max.isnull())],

    lambda df, row: df[(df.familia == row.familia) & (df.genero.isnull()) 
        & (df.epiteto.isnull())],

    lambda df, row: df[(df.clave_ecoregion_n2 == row.clave_ecoregion_n2) 
        & (df.clave_bur == row.clave_bur) 
        & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],

    lambda df, row: df[(df.clave_ecoregion_n2 == row.clave_ecoregion_n2) 
        & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],

    lambda df, row: df[(df.clave_bur == row.clave_bur) 
        & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],

    lambda df, row: df[(df.clave_ecoregion_n2 == row.clave_ecoregion_n2) 
        & (df.clave_bur == row.clave_bur) 
        & (df.diametro_min.isnull()) & (df.diametro_max.isnull())],

    lambda df, row: df[(df.clave_ecoregion_n2 == row.clave_ecoregion_n2) 
        & (df.diametro_min.isnull()) & (df.diametro_max.isnull())],

    lambda df, row: df[(df.clave_bur == row.clave_bur) 
        & (df.diametro_min.isnull()) & (df.diametro_max.isnull())],

    lambda df, row: df[(df.id == 998)]
]

In [42]:
equations = modelos[(modelos.variable_resultado == "c") & (modelos.activo ==1)]

In [43]:
c_eq = np.empty(n, dtype=object)

In [44]:
998

998

In [45]:
equations[equations.id == 998]

,id,id_anterior,variable_resultado,tipo,ecuacion,ecuacion_php,especie_id,familia,genero,epiteto,condicion,componente,diametro_min,diametro_max,numero_arboles,r2,anio_publicacion,grado_putrefaccion,clave_ecoregion_n1,clave_ecoregion_n2,clave_ecoregion_n3,clave_ecoregion_n4,clave_bur,clave_estado_inegi,activo,id_especie_mn,id_modelo_mn,referencia,id_referencia,notas
702,998,982.0,c,General,b*0.447,[b]*0.447,NaN,NaN,NaN,NaN,Todos,Todo el árbol,NaN,NaN,NaN,NaN,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,SEByC,NaN,Fracción General de carbono

In [46]:
start_time = time.time()
for index, row in df.iterrows():
    for  eq  in conditions_eq_2:
        equation_df = eq(equations, row)    
        if not equation_df.empty:
            c_eq[index] = equation_df.iloc[0,5]
            break
end_time = time.time()

# Calculate elapsed time
elapsed_time = end_time - start_time
print(f"Task took {elapsed_time:.6f} seconds.")

Task took 2213.593348 seconds.

In [45]:
c_eq

array(['[b]*0.43', '[b]*0.447', '(0.4709*[b])', ..., None, None, None],
      dtype=object)

In [47]:
c_eq

array(['[b]*0.43', '[b]*0.447', '(0.4709*[b])', ..., '[b]*0.4',
       '(0.4789*[b])', '(0.4974*[b])'], dtype=object)

In [48]:
np.save('c_eq.npy', c_eq)

# calculo volumen

In [52]:
conditions_eq_3 = [
    # Especie + ecoregión + clave BUR + rango diamétrico
    lambda df, row: df[(df.genero == row.genero) & (df.epiteto == row.epiteto)
                       & (df.clave_ecoregion_n2 == row.clave_ecoregion_n2) & (df.clave_bur == row.clave_bur)
                       & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],

    # Especie + ecoregión + rango diamétrico
    lambda df, row: df[(df.genero == row.genero) & (df.epiteto == row.epiteto)
                       & (df.clave_ecoregion_n2 == row.clave_ecoregion_n2)
                       & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],

    # Especie + clave BUR + rango diamétrico
    lambda df, row: df[(df.genero == row.genero) & (df.epiteto == row.epiteto)
                       & (df.clave_bur == row.clave_bur)
                       & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],

    # Especie + rango diamétrico
    lambda df, row: df[(df.genero == row.genero) & (df.epiteto == row.epiteto)
                       & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],

    # Género + ecoregión + clave BUR + rango diamétrico
    lambda df, row: df[(df.genero == row.genero) & (df.epiteto.isnull())
                       & (df.clave_ecoregion_n2 == row.clave_ecoregion_n2) & (df.clave_bur == row.clave_bur)
                       & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],

    # Género + ecoregión + rango diamétrico
    lambda df, row: df[(df.genero == row.genero) & (df.epiteto.isnull())
                       & (df.clave_ecoregion_n2 == row.clave_ecoregion_n2)
                       & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],

    # Género + clave BUR + rango diamétrico
    lambda df, row: df[(df.genero == row.genero) & (df.epiteto.isnull())
                       & (df.clave_bur == row.clave_bur)
                       & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],

    # Género + rango diamétrico
    lambda df, row: df[(df.genero == row.genero) & (df.epiteto.isnull())
                       & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],

    # Afinidad de género + ecoregión + clave BUR + rango diamétrico
    lambda df, row: df[(df.genero == row.genero) 
                       & (df.clave_ecoregion_n2 == row.clave_ecoregion_n2) & (df.clave_bur == row.clave_bur)
                       & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],

    # Afinidad de género + ecoregión + rango diamétrico
    lambda df, row: df[(df.genero == row.genero) 
                       & (df.clave_ecoregion_n2 == row.clave_ecoregion_n2)
                       & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],

    # Afinidad de género + clave BUR + rango diamétrico
    lambda df, row: df[(df.genero == row.genero) 
                       & (df.clave_bur == row.clave_bur)
                       & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],

    # Afinidad de género + rango diamétrico
    lambda df, row: df[(df.genero == row.genero) 
                       & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],

    # Ecoregión + clave BUR + rango diamétrico
    lambda df, row: df[(df.clave_ecoregion_n2 == row.clave_ecoregion_n2) & (df.clave_bur == row.clave_bur)
                       & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],

    # Ecoregión + rango diamétrico
    lambda df, row: df[(df.clave_ecoregion_n2 == row.clave_ecoregion_n2)
                       & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],

    # Clave BUR + rango diamétrico
    lambda df, row: df[(df.clave_bur == row.clave_bur)
                       & (df.diametro_min <= row.diametro) & (df.diametro_max >= row.diametro)],

    # General para volumen tocones
    lambda df, row: df[(df.id == 2885) & (row.condicion == "Tocón")],

    # General para volumen muertos en pie
    lambda df, row: df[(df.id == 2884) & (row.id == "Muerto")]
]

In [53]:
equations = modelos[(modelos.variable_resultado == "v") & (modelos.activo ==1)]

In [54]:
equations

,id,id_anterior,variable_resultado,tipo,ecuacion,ecuacion_php,especie_id,familia,genero,epiteto,condicion,componente,diametro_min,diametro_max,numero_arboles,r2,anio_publicacion,grado_putrefaccion,clave_ecoregion_n1,clave_ecoregion_n2,clave_ecoregion_n3,clave_ecoregion_n4,clave_bur,clave_estado_inegi,activo,id_especie_mn,id_modelo_mn,referencia,id_referencia,notas
2883,2884,2868.0,v,General,(3.14159 * ((d130 / 2 / 100) ^ 2) * ht) / 3,(3.14159 * (([d130] / 2 / 100) ** 2) * [ht]) / 3,NaN,NaN,NaN,NaN,Muerto,Todo el árbol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,"Ecuacion provicional, volumen de un cono en me..."
2884,2885,2869.0,v,General,(3.14159 * ((d130 / 2 / 100) ^ 2) * ht),(3.14159 * (([d130] / 2 / 100) ** 2) * [ht]),NaN,NaN,NaN,NaN,Tocón,Todo el árbol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,"Ecuacion provicional, volumen de un cilindro e..."

In [56]:
v_eq = np.empty(n, dtype=object)

In [80]:
for index, row in df.iterrows():
    for eq  in conditions_eq_3:
        equation_df = eq(equations, row)    
        if not equation_df.empty:
            v_eq[index] = equation_df.iloc[0,5]
            break

In [81]:
v_eq

array([None, None, None, ..., None, None, None], dtype=object)

In [57]:
for index, row in df_muerto.iterrows():
    v_eq[index] = modelos.iloc[2883,5]

In [78]:
for index, row in df_tocon.iterrows():
    if not np.isnan(row.grado_putrefaccion):
        eq = modelos.iloc[2884,5]
        eq+= f"/{row.grado_putrefaccion}"
        print(eq, index)
        v_eq[index] = eq 
        break
    else:
        v_eq[index] = modelos.iloc[2884,5]

(3.14159 * (([d130] / 2 / 100) ** 2) * [ht])/2.0 116

In [82]:
v_eq[116]

'(3.14159 * (([d130] / 2 / 100) ** 2) * [ht])'

In [108]:
modelos.iloc[2884,5]

'(3.14159 * (([d130] / 2 / 100) ** 2) * [ht])'

In [58]:
df_tocon

,id,anio_levantamiento,conglomerado,sitio,condicion,especie_id,familia,genero,epiteto,categoria_infra,infraespecie,numero_arbol,numero_tallo,tallos,diametro,altura,is_predicted,latitud,longitud,clave_ecoregion_n2,clave_bur,referencia_1,referencia_2,user_id,created_at,updated_at,grado_putrefaccion,clave_ecoregion_n1,clave_ecoregion_n3,clave_ecoregion_n4,estado_inegi,estado,edad
116,2886290,2019,75163,4,Tocón,NaN,ZZ Familia Desconocida,ZZ Genero Desconocido,NaN,NaN,NaN,3,3.0,NaN,13.0,0.40,0.0,16.658000,-96.623583,14.4,BQ,857537,3,NaN,NaN,NaN,2.0,14,14.4.3,14.4.3.3,20,Oaxaca,NaN
130,2886304,2016,50545,1,Tocón,NaN,Fagaceae,Quercus,magnoliifolia,NaN,NaN,10,10.0,NaN,36.5,0.30,0.0,21.302167,-104.766583,13.4,BQP,475352,10,NaN,NaN,NaN,3.0,13,13.4.2,13.4.2.2,18,Nayarit,NaN
131,2886305,2016,50545,1,Tocón,NaN,Fagaceae,Quercus,magnoliifolia,NaN,NaN,13,13.0,NaN,13.2,0.31,0.0,21.302167,-104.766583,13.4,BQP,475355,13,NaN,NaN,NaN,3.0,13,13.4.2,13.4.2.2,18,Nayarit,NaN
225,2886399,2016,50078,1,Tocón,NaN,ZZ Familia Desconocida,ZZ Genero Desconocido,NaN,NaN,NaN,1,1.0,NaN,13.8,0.30,0.0,21.387500,-105.058917,15.5,SMQ,521110,1,NaN,NaN,NaN,2.0,15,15.5.2,15.5.2.2,18,Nayarit,NaN
226,2886400,2016,50078,1,Tocón,NaN,ZZ Familia Desconocida,ZZ Genero Desconocido,NaN,NaN,NaN,5,5.0,NaN,11.8,0.30,0.0,21.387500,-105.058917,15.5,SMQ,521114,5,NaN,NaN,NaN,2.0,15,15.5.2,15.5.2.2,18,Nayarit,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
830448,3717203,2015,50197,2,Tocón,NaN,Fagaceae,Quercus,rugosa,NaN,NaN,2,2.0,NaN,12.5,0.50,0.0,21.394111,-99.293306,13.3,BQ,246211,2,NaN,NaN,NaN,NaN,13,13.3.1,13.3.1.1,22,Querétaro,NaN
830530,3717285,2016,75151,3,Tocón,NaN,ZZ Familia Desconocida,ZZ Genero Desconocido,NaN,NaN,NaN,7,7.0,NaN,39.1,0.30,0.0,16.677333,-97.184944,13.5,BP,523384,7,NaN,NaN,NaN,4.0,13,13.5.2,13.5.2.1,20,Oaxaca,NaN
830538,3717293,2019,49821,4,Tocón,NaN,ZZ Familia Desconocida,ZZ Genero Desconocido,NaN,NaN,NaN,26,26.0,NaN,25.5,0.40,0.0,20.866306,-87.989278,15.2,SMS,859238,26,NaN,NaN,NaN,4.0,15,15.2.1,15.2.1.1,31,Yucatán,NaN
830595,3717350,2016,50148,2,Tocón,NaN,ZZ Familia Desconocida,ZZ Genero Desconocido,NaN,NaN,NaN,3,12.0,NaN,22.7,0.40,0.0,21.417778,-101.667278,12.2,BQP,521231,12,NaN,NaN,NaN,3.0,12,12.2.1,12.2.1.2,14,Jalisco,NaN
830628,3717383,2017,50179,1,Tocón,NaN,ZZ Familia Desconocida,ZZ Genero Desconocido,NaN,NaN,NaN,23,24.0,NaN,54.3,0.37,0.0,21.406944,-100.165333,13.3,BQP,654372,24,NaN,NaN,NaN,3.0,13,13.3.1,13.3.1.1,11,Guanajuato,NaN

In [69]:
row = df_tocon.loc[830448]
if np.isnan(row.grado_putrefaccion):
    print(1)# == np.nan

1

In [83]:
np.save('v_eq.npy', v_eq)

In [84]:
df_tocon.grado_putrefaccion.value_counts()

grado_putrefaccion
3.0    5829
2.0    3515
4.0    1104
1.0     590
5.0      24
Name: count, dtype: int64

In [89]:
df.to_csv("out_fixed_v2_2.csv", index=False)

In [90]:
len(df)

830750