In [1]:
import pandas as pd
import numpy as np
import math
from collections import Counter

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv("out_tocones.csv", low_memory=False)
modelos = pd.read_excel("csvs/modelos.xlsx")

In [4]:
#carbon_eq = np.load("c_eq.npy", allow_pickle=True)
biomasa_eq = np.load("b_eq.npy", allow_pickle=True)
densidad_eq = np.load("p_eq.npy", allow_pickle=True)
volumen_eq = np.load("v_eq.npy", allow_pickle=True)

In [5]:
df['volumen_eq'] = volumen_eq

df['biomasa_eq'] = biomasa_eq


df['densidad_eq'] = densidad_eq

In [19]:
df.iloc[10:15]

,id,anio_levantamiento,conglomerado,sitio,condicion,especie_id,familia,genero,epiteto,categoria_infra,infraespecie,numero_arbol,numero_tallo,tallos,diametro,altura,is_predicted,latitud,longitud,clave_ecoregion_n2,clave_bur,referencia_1,referencia_2,user_id,created_at,updated_at,grado_putrefaccion,clave_ecoregion_n1,clave_ecoregion_n3,clave_ecoregion_n4,estado_inegi,estado,edad,volumen_eq,biomasa_eq,densidad_eq
10,2886184,2015,50544,1,Vivo,NaN,Pinaceae,Pinus,oocarpa,NaN,NaN,7,7.0,NaN,15.5,14.7,0.0,21.301972,-104.815389,13.4,BPQ,109022,7,NaN,NaN,NaN,NaN,13,13.4.2,13.4.2.2,18,Nayarit,NaN,None,(0.058)*((([d130]**2)*[ht])**0.919),0.49473
11,2886185,2017,49834,2,Vivo,NaN,Moraceae,Ficus,obtusifolia,NaN,NaN,44,47.0,NaN,10.7,9.4,0.0,20.807139,-87.365111,15.2,SMQ,659313,47,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.42345
12,2886186,2017,49834,2,Vivo,NaN,Fabaceae,Lysiloma,latisiliquum,NaN,NaN,56,60.0,NaN,32.4,21.6,0.0,20.807139,-87.365111,15.2,SMQ,659326,60,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,Exp(-1.852)*([d130]**2.378),0.53441
13,2886187,2017,49834,2,Muerto,NaN,Fabaceae,Lysiloma,latisiliquum,NaN,NaN,57,66.0,NaN,12.6,7.4,0.0,20.807139,-87.365111,15.2,SMQ,659332,66,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,(3.14159 * (([d130] / 2 / 100) ** 2) * [ht]) / 3,1000 * ([p] * [v]),0.53441
14,2886188,2017,49834,2,Vivo,NaN,Fabaceae,Lysiloma,latisiliquum,NaN,NaN,61,70.0,NaN,16.2,19.7,0.0,20.807139,-87.365111,15.2,SMQ,659336,70,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,Exp(-1.852)*([d130]**2.378),0.53441

In [6]:
def str2function_bio(function):
    function = function.replace('Exp', 'math.exp')
    
    function = function.replace('[p]', 'densi')
    function = function.replace('[v]', 'v')
    function = function.replace('[d130]', 'd130')
    function = function.replace('[ht]', 'ht')
    function = function.replace('LOG', 'math.log')    
    
    varibales = ["densi","v","d130","ht"]
    filtered_list = [char for char in varibales if char in function]

    function = eval(f'lambda {', '.join(filtered_list)}: {function}')
    return function,filtered_list

In [33]:
n = len(df)
biomasa = np.empty(n)

In [8]:
row = df.loc[13]
row

id                                                             2886187
anio_levantamiento                                                2017
conglomerado                                                     49834
sitio                                                                2
condicion                                                       Muerto
especie_id                                                         NaN
familia                                                       Fabaceae
genero                                                        Lysiloma
epiteto                                                   latisiliquum
categoria_infra                                                    NaN
infraespecie                                                       NaN
numero_arbol                                                        57
numero_tallo                                                      66.0
tallos                                                             NaN
diametro                                                          12.6
altura                                                             7.4
is_predicted                                                       0.0
latitud                                                      20.807139
longitud                                                    -87.365111
clave_ecoregion_n2                                                15.2
clave_bur                                                          SMQ
referencia_1                                                    659332
referencia_2                                                        66
user_id                                                            NaN
created_at                                                         NaN
updated_at                                                         NaN
grado_putrefaccion                                                 NaN
clave_ecoregion_n1                                                  15
clave_ecoregion_n3                                              15.2.2
clave_ecoregion_n4                                            15.2.2.2
estado_inegi                                                        23
estado                                                    Quintana Roo
edad                                                               NaN
volumen_eq            (3.14159 * (([d130] / 2 / 100) ** 2) * [ht]) / 3
biomasa_eq                                          1000 * ([p] * [v])
densidad_eq                                                    0.53441
Name: 13, dtype: object

In [12]:
 f,var = str2function_bio(row.biomasa_eq)

# volumen

In [46]:
volumen = np.zeros(n)

In [22]:
def str2function_vol(function):    
    function = function.replace('[d130]', 'd130')
    function = function.replace('[ht]', 'ht')
  
    
    varibales = ["d130","ht"]
    filtered_list = [char for char in varibales if char in function]
    #print(f'lambda {', '.join(filtered_list)}: {function}')
    function = eval(f'lambda {', '.join(filtered_list)}: {function}')
    return function,filtered_list

In [23]:
f,var = str2function_vol(row.volumen_eq)

In [25]:
var

['d130', 'ht']

In [20]:
row = df.iloc[13]

In [27]:
a = f(row.diametro,row.altura)
a

np.float64(0.030756794418000003)

In [47]:
for index, row in df.iterrows():
    try:
        f,var = str2function_vol(row.volumen_eq)
        volumen[index] = f(row.diametro,row.altura)
    except:
        if not pd.isnull(row.volumen_eq):
            print(index)
            break

In [39]:
volumen[13]

np.float64(0.030756794418000003)

In [40]:
volumen

array([3.62369088e-316, 6.91615322e-310, 3.62369088e-316, ...,
       1.17233349e+002, 4.01530660e+002, 2.31194636e+001])

In [48]:
df["volumen"] = volumen

In [49]:
df

,id,anio_levantamiento,conglomerado,sitio,condicion,especie_id,familia,genero,epiteto,categoria_infra,infraespecie,numero_arbol,numero_tallo,tallos,diametro,altura,is_predicted,latitud,longitud,clave_ecoregion_n2,clave_bur,referencia_1,referencia_2,user_id,created_at,updated_at,grado_putrefaccion,clave_ecoregion_n1,clave_ecoregion_n3,clave_ecoregion_n4,estado_inegi,estado,edad,volumen_eq,biomasa_eq,densidad_eq,volumen
0,2886174,2016,50760,1,Vivo,NaN,Malvaceae,Hampea,trilobata,NaN,NaN,14,16.0,NaN,8.3,6.4,0.0,20.622000,-87.336694,15.2,SMQ,493302,16,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.35341,0.0
1,2886175,2016,50760,1,Vivo,NaN,Nyctaginaceae,Neea,psychotrioides,NaN,NaN,21,23.0,NaN,10.4,8.6,0.0,20.622000,-87.336694,15.2,SMQ,493309,23,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.314,0.0
2,2886176,2016,50760,1,Vivo,NaN,Fabaceae,Lysiloma,latisiliquum,NaN,NaN,29,34.0,NaN,32.8,10.3,0.0,20.622000,-87.336694,15.2,SMQ,493320,34,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,Exp(-1.852)*([d130]**2.378),0.53441,0.0
3,2886177,2016,50760,1,Vivo,NaN,Malvaceae,Luehea,speciosa,NaN,NaN,35,40.0,NaN,8.2,7.9,0.0,20.622000,-87.336694,15.2,SMQ,493326,40,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.60574,0.0
4,2886178,2016,50760,1,Vivo,NaN,Sapotaceae,Sideroxylon,salicifolium,NaN,NaN,44,49.0,NaN,9.8,6.8,0.0,20.622000,-87.336694,15.2,SMQ,493335,49,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.82171,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
830745,3717500,2016,50303,1,Vivo,NaN,Fabaceae,Caesalpinia,platyloba,NaN,NaN,6,6.0,NaN,17.8,9.1,0.0,20.693639,-87.135167,15.2,SMQ,523099,6,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.89628,0.0
830746,3717501,2016,50303,2,Vivo,NaN,Fabaceae,Swartzia,cubensis,NaN,NaN,12,13.0,NaN,8.3,7.8,0.0,20.693639,-87.135167,15.2,SMQ,523135,13,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.86045,0.0
830747,3717502,2016,50303,2,Vivo,NaN,Arecaceae,Sabal,yapa,NaN,NaN,13,14.0,NaN,17.7,10.3,0.0,20.693639,-87.135167,15.2,SMQ,523136,14,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.61222,0.0
830748,3717503,2016,50303,2,Vivo,NaN,Sapotaceae,Manilkara,zapota,NaN,NaN,24,25.0,NaN,32.3,9.1,0.0,20.693639,-87.135167,15.2,SMQ,523147,25,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.79789,0.0
830749,3717504,2016,50303,2,Vivo,NaN,Anacardiaceae,Metopium,brownei,NaN,NaN,9,10.0,NaN,8.4,7.7,0.0,20.693639,-87.135167,15.2,SMQ,523132,10,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.61789,0.0

# biomsa

In [38]:
element_counts = Counter(biomasa_eq)

In [39]:
element_counts

Counter({'(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([ht]))))))': 231564,
         '1000 * ([p] * [v])': 60952,
         '(0.0841)*([d130]**2.41)': 49050,
         '(Exp(-2.754)*[d130]**2.574)': 44950,
         'Exp(-2.27)*([d130]**2.39)': 29945,
         'Exp(-1.852)*([d130]**2.378)': 29314,
         '(0.283)*((([d130]**2)*[ht])**0.807)': 25675,
         'Exp(0.9173)*([d130]**1.0730)': 24368,
         'Exp(-1.6200)*([d130]**2.1200) ': 24000,
         '(0.0514)*([d130]**2.5222)': 20490,
         '(0.058)*((([d130]**2)*[ht])**0.919)': 18970,
         '(0.0416)*([d130]**2.7154)': 18541,
         '(0.0342)*([d130]**2.7590)': 16862,
         'Exp(-2.14)*([d130]**2.23)': 16401,
         '(1.7737)*([d130]**1.2282)': 16199,
         '(Exp(-0.877)*[d130]**1.98)': 15293,
         'Exp(-1.291)*([d130]**2.178)': 14597,
         '1000 * ([p] * [v])*(3/6)': 14251,
         'Exp(-1.6469)*([d130]**2.1255)': 14078,
         'Exp(-3.369)*([d130]**2.934)': 12129,
         '(0.3700)*([d130]**1.9600)': 11581,
         '(Exp(-2.084)*[d130]**2.323)': 11014,
         '(0.4632)*([d130]**1.8168)': 10041,
         '(0.0333)*([d130]**2.6648)': 8809,
         '(0.45534)*([d130]**2)': 8031,
         '(Exp(-2.592)*[d130]**2.585)': 6910,
         '(Exp(-3.139)*[d130]**2.585)': 5987,
         '(0.35179)*([d130]**2)': 5734,
         '(0.1354)*([d130]**2.3033)': 5722,
         '(Exp(-3.066)*[d130]**2.646)': 5605,
         'Exp(-3.739)*([d130]**2.819)': 4927,
         'Exp(-4.005)*([d130]**2.653)': 4778,
         '(10**-0.755)*([d130]**2.072)': 4607,
         '(Exp(-3.549)*[d130]**2.787)': 4163,
         '(Exp(-3.182)*[d130]**2.702)': 3030,
         '(-40.102)+1.787*[d130]+10.182*[ht]': 2931,
         '(Exp(-2.818)*[d130]**2.574)': 2770,
         '(0.0890)*([d130]**2.5226)': 2645,
         '(0.0754)*([d130]**2.513)': 2004,
         'Exp(-1.76)*([d130]**2.26)': 1880,
         'Exp(-2.8200)*([d130]**2.4200 )  ': 1873,
         '(0.40196)*([d130]**2)': 1359,
         '(0.092)*([d130]**2.448)': 1229,
         '(Exp(-3.264)*[d130]**2.707)': 1201,
         '(0.0635)*([d130]**2.4725)': 1138,
         'Exp(-1.90)*([d130]**2.15)': 1130,
         '(0.0402)*([d130]**2.757)': 1118,
         '(0.0143)*([d130]**2.8355)': 1037,
         'Exp(-2.4500)*([d130]**2.3000)  ': 1019,
         '(0.00166)*([d130]**3.6586)': 892,
         '(Exp(-3.039)*[d130]**2.523)': 788,
         '(0.0948)*([d130]**2.4079)': 775,
         'Exp(-2.22)*([d130]**2.45)': 651,
         '(Exp(-3.065)*[d130]**2.625)': 568,
         '(0.0406)*([d130]**2.7339)': 514,
         '(10**-1.417)*([d130]**2.755)': 451,
         '(0.8501)*([d130]**2)': 439,
         '(Exp(-1.922)*[d130]**2.321)': 414,
         'Exp(-1.99)*([d130]**2.26)': 401,
         '(0.013)*([d130]**3.046)': 386,
         'Exp(-1.8621)*([d130]**2.27675)': 330,
         '(10**-0.889)*([d130]**2.317)': 318,
         '(0.182)*([d130]**1.936)': 271,
         '(0.1382)*([d130]**2.3573)': 240,
         '(0.1649)*([d130]**2.2755)': 177,
         'Exp(-3.101)*([d130]**2.333)': 174,
         '(Exp(-2.874)*[d130]**2.631)': 163,
         'Exp(-4.0400)*([d130]**4.0000)*(([d130]** -0.2900)**2)': 144,
         '(Exp(-2.144)*[d130]**2.403)': 123,
         'Exp(-3.1426)*([d130]**2.69273)': 108,
         '(0.3780)*([d130]**2.1064)': 107,
         '(Exp(-2.611)*[d130]**2.531)': 94,
         '(Exp(-3.573)*[d130]**2.746)': 80,
         '(-0.3193)+((0.0256)*(([d130]**2)*[ht]))': 55,
         '(Exp(-1.482)*[d130]**2.129)': 54,
         '(10**-0.559)*([d130]**2.067)': 45,
         '(Exp(-3.416)*[d130]**2.715)': 23,
         '(Exp(-3.532)*[d130]**2.731)': 20,
         '(0.2666)*([d130]**2)': 19,
         '(0.2018)*([d130]**2.2907)': 18,
         '(10**-1.181)*([d130]**1.991)': 3,
         '(22.3476)+((-4.9470)*[d130])+(0.4911*([d130]**2))+(0.0039*(([d130]**2)*[ht]))': 2,
         'Exp(6.02)*([d130]**1.64)/1000': 1})

In [41]:
def str2function_bio(function):
    function = function.replace('Exp', 'math.exp')
    
    function = function.replace('[p]', 'densi')
    function = function.replace('[v]', 'v')
    function = function.replace('[d130]', 'd130')
    function = function.replace('[ht]', 'ht')
    function = function.replace('LOG', 'math.log')    
    
    varibales = ["densi","v","d130","ht"]
    filtered_list = [char for char in varibales if char in function]

    function_ = eval(f'lambda {', '.join(filtered_list)}: {function}')
    #    print(f'lambda {', '.join(filtered_list)}: {function}')
    return function_,filtered_list

In [47]:
for i in element_counts:
    f,var = str2function_bio(i)
    print(var)

['densi', 'd130', 'ht']
['d130']
['d130']
['d130']
['d130', 'ht']
['densi', 'v']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130', 'ht']
['d130']
['d130']
['d130']
['d130']
['densi', 'v']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130', 'ht']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130', 'ht']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130', 'ht']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']
['d130']

In [76]:
df.loc[2]

id                                        2886176
anio_levantamiento                           2016
conglomerado                                50760
sitio                                           1
condicion                                    Vivo
especie_id                                    NaN
familia                                  Fabaceae
genero                                   Lysiloma
epiteto                              latisiliquum
categoria_infra                               NaN
infraespecie                                  NaN
numero_arbol                                   29
numero_tallo                                 34.0
tallos                                        NaN
diametro                                     32.8
altura                                       10.3
is_predicted                                  0.0
latitud                                    20.622
longitud                               -87.336694
clave_ecoregion_n2                           15.2
clave_bur                                     SMQ
referencia_1                               493320
referencia_2                                   34
user_id                                       NaN
created_at                                    NaN
updated_at                                    NaN
grado_putrefaccion                            NaN
clave_ecoregion_n1                             15
clave_ecoregion_n3                         15.2.2
clave_ecoregion_n4                       15.2.2.2
estado_inegi                                   23
estado                               Quintana Roo
edad                                          NaN
volumen_eq                                   None
biomasa_eq            Exp(-1.852)*([d130]**2.378)
densidad_eq                               0.53441
volumen                                       0.0
Name: 2, dtype: object

In [50]:
for index, row in df.iterrows():

    try:
        f,var = str2function_bio(row.biomasa_eq)
        if var == ['densi', 'd130', 'ht']:
            biomasa[index] = f(float(row.densidad_eq),row.diametro,row.altura)
        elif var == ['d130', 'ht']:
            biomasa[index] = f(row.diametro,row.altura)
        elif var == ['densi', 'v']:
            biomasa[index] = f(float(row.densidad_eq),row.volumen)  
        else:
            biomasa[index] = f(row.diametro)
    except:
        f,var = str2function_bio(row.biomasa_eq)
        
        print(index,var)

53280 ['densi', 'v']
58254 ['densi', 'v']
61677 ['densi', 'v']

In [51]:
df.iloc[13]

id                                                             2886187
anio_levantamiento                                                2017
conglomerado                                                     49834
sitio                                                                2
condicion                                                       Muerto
especie_id                                                         NaN
familia                                                       Fabaceae
genero                                                        Lysiloma
epiteto                                                   latisiliquum
categoria_infra                                                    NaN
infraespecie                                                       NaN
numero_arbol                                                        57
numero_tallo                                                      66.0
tallos                                                             NaN
diametro                                                          12.6
altura                                                             7.4
is_predicted                                                       0.0
latitud                                                      20.807139
longitud                                                    -87.365111
clave_ecoregion_n2                                                15.2
clave_bur                                                          SMQ
referencia_1                                                    659332
referencia_2                                                        66
user_id                                                            NaN
created_at                                                         NaN
updated_at                                                         NaN
grado_putrefaccion                                                 NaN
clave_ecoregion_n1                                                  15
clave_ecoregion_n3                                              15.2.2
clave_ecoregion_n4                                            15.2.2.2
estado_inegi                                                        23
estado                                                    Quintana Roo
edad                                                               NaN
volumen_eq            (3.14159 * (([d130] / 2 / 100) ** 2) * [ht]) / 3
biomasa_eq                                          1000 * ([p] * [v])
densidad_eq                                                    0.53441
volumen                                                       0.030757
Name: 13, dtype: object

In [88]:
np.save('biomasa.npy', biomasa)

In [52]:
df['biomasa'] = biomasa

In [53]:
df

,id,anio_levantamiento,conglomerado,sitio,condicion,especie_id,familia,genero,epiteto,categoria_infra,infraespecie,numero_arbol,numero_tallo,tallos,diametro,altura,is_predicted,latitud,longitud,clave_ecoregion_n2,clave_bur,referencia_1,referencia_2,user_id,created_at,updated_at,grado_putrefaccion,clave_ecoregion_n1,clave_ecoregion_n3,clave_ecoregion_n4,estado_inegi,estado,edad,volumen_eq,biomasa_eq,densidad_eq,volumen,biomasa
0,2886174,2016,50760,1,Vivo,NaN,Malvaceae,Hampea,trilobata,NaN,NaN,14,16.0,NaN,8.3,6.4,0.0,20.622000,-87.336694,15.2,SMQ,493302,16,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.35341,0.0,11.445461
1,2886175,2016,50760,1,Vivo,NaN,Nyctaginaceae,Neea,psychotrioides,NaN,NaN,21,23.0,NaN,10.4,8.6,0.0,20.622000,-87.336694,15.2,SMQ,493309,23,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.314,0.0,20.351254
2,2886176,2016,50760,1,Vivo,NaN,Fabaceae,Lysiloma,latisiliquum,NaN,NaN,29,34.0,NaN,32.8,10.3,0.0,20.622000,-87.336694,15.2,SMQ,493320,34,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,Exp(-1.852)*([d130]**2.378),0.53441,0.0,631.589091
3,2886177,2016,50760,1,Vivo,NaN,Malvaceae,Luehea,speciosa,NaN,NaN,35,40.0,NaN,8.2,7.9,0.0,20.622000,-87.336694,15.2,SMQ,493326,40,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.60574,0.0,22.238504
4,2886178,2016,50760,1,Vivo,NaN,Sapotaceae,Sideroxylon,salicifolium,NaN,NaN,44,49.0,NaN,9.8,6.8,0.0,20.622000,-87.336694,15.2,SMQ,493335,49,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.82171,0.0,35.529125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
830745,3717500,2016,50303,1,Vivo,NaN,Fabaceae,Caesalpinia,platyloba,NaN,NaN,6,6.0,NaN,17.8,9.1,0.0,20.693639,-87.135167,15.2,SMQ,523099,6,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.89628,0.0,149.929731
830746,3717501,2016,50303,2,Vivo,NaN,Fabaceae,Swartzia,cubensis,NaN,NaN,12,13.0,NaN,8.3,7.8,0.0,20.693639,-87.135167,15.2,SMQ,523135,13,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.86045,0.0,30.996765
830747,3717502,2016,50303,2,Vivo,NaN,Arecaceae,Sabal,yapa,NaN,NaN,13,14.0,NaN,17.7,10.3,0.0,20.693639,-87.135167,15.2,SMQ,523136,14,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.61222,0.0,117.233349
830748,3717503,2016,50303,2,Vivo,NaN,Sapotaceae,Manilkara,zapota,NaN,NaN,24,25.0,NaN,32.3,9.1,0.0,20.693639,-87.135167,15.2,SMQ,523147,25,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.79789,0.0,401.530660
830749,3717504,2016,50303,2,Vivo,NaN,Anacardiaceae,Metopium,brownei,NaN,NaN,9,10.0,NaN,8.4,7.7,0.0,20.693639,-87.135167,15.2,SMQ,523132,10,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.61789,0.0,23.119464

# carbono

In [139]:
carbono = np.empty(n)

In [97]:
# Get the lambda function's code object
code_obj = f.__code__

# Get the names of the variables the lambda function uses
required_variables = code_obj.co_varnames

print(required_variables)

('densi', 'd130', 'ht')

In [122]:
from collections import Counter

counter = Counter(carbon_eq)

In [123]:
counter

Counter({'[b]*0.447': 174041,
         '[b]*0.44': 76525,
         '(0.4726*[b])': 75416,
         '(0.0192*[d130]**2.7569)': 63055,
         '[b]*0.46': 51230,
         '[b]*0.48': 45894,
         '(0.4709*[b])': 33011,
         '[b]*0.4896': 30249,
         '[b]*0.43': 23395,
         '[b]*0.45': 21707,
         '[b]*0.47': 20711,
         '(0.484*[b])': 20267,
         '[b]*0.42': 19752,
         '[b]*0.4453': 14018,
         '(0.5025*[b])': 12003,
         '[b]*0.4715': 11079,
         '[b]*0.4289': 9460,
         '[b]*0.49': 9039,
         '(0.4974*[b])': 8530,
         '(0.4789*[b])': 8226,
         '(0.4936*[b])': 7278,
         '[b]*0.4393': 7106,
         '(-43.271+8.5861*[d130]+-0.11843*[d130]**2+0.017832*[d130]**2*[d130] )': 6728,
         '(0.0192922*([d130]**2*[ht])**0.9392)': 6464,
         '(0.185*[d130]**2)': 4727,
         '[b]*0.41': 4384,
         '(0.4748*[b])': 4260,
         '(0.5035*[b])': 4137,
         '(0.4508*[b])': 3986,
         '[b]*0.4481': 3588,
         '[b]*0.4358': 3515,
         '[b]*0.4341': 3256,
         '(0.4963*[b])': 3223,
         '[b]*0.4': 2893,
         '(0.4911*[b])': 2863,
         '(0.47*[b])': 2854,
         '[b]*0.35': 2798,
         '[b]*0.4829': 2486,
         '(0.5106*[b])': 2323,
         '[b]*0.5': 2281,
         '[b]*0.4501': 2134,
         '(0.5118*[b])': 2129,
         '(0.51*[b])': 2018,
         '[b]*0.4568': 1624,
         '[b]*0.4308': 1607,
         '(0.4886*[b])': 1588,
         '(0.5036*[b])': 1509,
         '[b]*0.431': 1234,
         '(0.513*[b])': 1189,
         '[b]*0.34': 1025,
         '[b]*0.4279': 1013,
         '(0.4991*[b])': 978,
         '[b]*0.444': 864,
         '(0.4923*[b])': 669,
         '(0.4676*[b])': 528,
         '(0.4851*[b])': 414,
         '(0.0196*[d130]**2.7353)': 388,
         '[b]*0.4282': 212,
         '[b]*0.4392': 143,
         '(0.4713*[b])': 138,
         '[b]*0.4429': 67,
         '(0.4735*[b])': 66,
         '(0.4567*[b])': 41,
         '(0.4949*[b])': 34,
         '(0.4967*[b])': 19,
         '(0.006*[d130]**3.038)': 16,
         '(0.4741*[b])': 14,
         '[b]*0.37': 13,
         '(0.4698*[b])': 5,
         '(0.009*[d130]**2.7517)': 2,
         '[b]*0.4354': 2})

In [126]:
def str2function_car(function):
    
    function = function.replace('[b]', 'b')
    function = function.replace('[d130]', 'd130')
    function = function.replace('[ht]', 'ht') 
    
    varibales = ["b","d130","ht"]
    filtered_list = [char for char in varibales if char in function]

    function = eval(f'lambda {', '.join(filtered_list)}: {function}')
    return function,filtered_list

In [128]:
for i in counter:
    f,var = str2function_car(i)
    print(var)

['b']
['b']
['b']
['b']
['b']
['b']
['b']
['b']
['b']
['b']
['b']
['b']
['b']
['d130']
['b']
['b']
['b']
['b']
['b']
['b']
['d130']
['b']
['b']
['b']
['b']
['b']
['b']
['b']
['b']
['b']
['b']
['d130']
['d130', 'ht']
['b']
['b']
['b']
['b']
['b']
['b']
['b']
['b']
['d130']
['b']
['b']
['b']
['b']
['b']
['b']
['b']
['b']
['b']
['b']
['b']
['b']
['b']
['b']
['b']
['b']
['b']
['b']
['b']
['d130']
['b']
['b']
['b']
['d130']
['b']
['b']
['b']
['b']
['b']

In [140]:
for index, row in df.iterrows():

    try:
        f,var = str2function_car(row.carbon_eq)
        if var == ['b']:
            carbono[index] = f(row.biomasa)
        elif var == ['d130']:
            carbono[index] = f(row.diametro)
        else:
            carbono[index] = f(row.diametro,row.altura)
    except:
        print(index)

In [141]:
np.save('carbono.npy', carbono)

In [142]:
df['carbono'] = carbono

In [147]:
df.carbono.idxmin()

130675

In [148]:
df.loc[130675]

id                                               3016890
anio_levantamiento                                  2019
conglomerado                                       43339
sitio                                                  1
condicion                                           Vivo
especie_id                                           NaN
familia                                     Asparagaceae
genero                                             Yucca
epiteto                                         filifera
categoria_infra                                      NaN
infraespecie                                         NaN
numero_arbol                                          12
numero_tallo                                        17.0
tallos                                               NaN
diametro                                            10.4
altura                                               1.4
is_predicted                                         0.0
latitud                                        23.046333
longitud                                     -103.330972
clave_ecoregion_n2                                  12.1
clave_bur                                             BP
referencia_1                                      877086
referencia_2                                          17
user_id                                              NaN
created_at                                           NaN
updated_at                                           NaN
grado_putrefaccion                                   NaN
clave_ecoregion_n1                                    12
clave_ecoregion_n3                                12.1.2
clave_ecoregion_n4                              12.1.2.1
estado_inegi                                          32
estado                                         Zacatecas
edad                                                 NaN
carbon_eq                                       [b]*0.42
biomasa_eq            (-40.102)+1.787*[d130]+10.182*[ht]
densidad_eq                                      0.61283
biomasa                                          -7.2624
carbono                                        -3.050208
Name: 130675, dtype: object

In [149]:
df[df.carbono <= 0]

,id,anio_levantamiento,conglomerado,sitio,condicion,especie_id,familia,genero,epiteto,categoria_infra,infraespecie,numero_arbol,numero_tallo,tallos,diametro,altura,is_predicted,latitud,longitud,clave_ecoregion_n2,clave_bur,referencia_1,referencia_2,user_id,created_at,updated_at,grado_putrefaccion,clave_ecoregion_n1,clave_ecoregion_n3,clave_ecoregion_n4,estado_inegi,estado,edad,carbon_eq,biomasa_eq,densidad_eq,biomasa,carbono
8431,2894610,2016,49469,1,Vivo,NaN,Asparagaceae,Yucca,filifera,NaN,NaN,2,2.0,NaN,10.10,2.10,0.0,21.550833,-100.987972,12.2,BP,527783,2,NaN,NaN,NaN,NaN,12,12.2.1,12.2.1.2,11,Guanajuato,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.59768,-0.67110,-0.281862
44949,2931133,2019,51803,3,Vivo,NaN,Asparagaceae,Yucca,filifera,NaN,NaN,14,19.0,NaN,10.50,1.90,0.0,21.088889,-100.121361,12.2,BPQ,753227,19,NaN,NaN,NaN,NaN,12,12.2.1,12.2.1.2,11,Guanajuato,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.59768,-1.99270,-0.836934
53275,2939461,2015,51860,2,Muerto,NaN,ZZ Familia Desconocida,ZZ Genero Desconocido,NaN,NaN,NaN,2,3.0,NaN,9.60,5.80,0.0,21.030306,-97.367194,0.0,VM,57396,2,NaN,NaN,NaN,NaN,0,NaN,NaN,30,Veracruz de Ignacio de la Llave,NaN,[b]*0.447,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,None,0.00000,0.000000
58249,2944437,2015,51860,2,Muerto,NaN,ZZ Familia Desconocida,ZZ Genero Desconocido,NaN,NaN,NaN,2,2.0,NaN,9.40,7.20,0.0,21.030306,-97.367194,0.0,VM,57395,2,NaN,NaN,NaN,NaN,0,NaN,NaN,30,Veracruz de Ignacio de la Llave,NaN,[b]*0.447,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,None,0.00000,0.000000
61670,2947861,2015,51860,4,Muerto,NaN,ZZ Familia Desconocida,ZZ Genero Desconocido,NaN,NaN,NaN,9,10.0,NaN,57.90,5.30,0.0,21.030306,-97.367194,0.0,VM,57441,9,NaN,NaN,NaN,NaN,0,NaN,NaN,30,Veracruz de Ignacio de la Llave,NaN,[b]*0.447,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,None,0.00000,0.000000
105230,2991432,2016,47698,3,Vivo,NaN,Asparagaceae,Yucca,filifera,NaN,NaN,1,1.0,NaN,10.80,1.90,0.0,21.906194,-100.158472,13.3,BQP,539175,1,NaN,NaN,NaN,NaN,13,13.3.1,13.3.1.1,24,San Luis PotosÃ­,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.58924,-1.45660,-0.611772
117067,3003276,2016,45226,1,Vivo,NaN,Asparagaceae,Yucca,carnerosana,NaN,NaN,5,7.0,NaN,10.70,1.90,0.0,22.540972,-100.100833,13.3,MDM,549272,7,NaN,NaN,NaN,NaN,13,13.3.1,13.3.1.1,24,San Luis PotosÃ­,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.58924,-1.63530,-0.686826
120588,3006798,2015,44350,2,Vivo,NaN,Asparagaceae,Yucca,filifera,NaN,NaN,1,1.0,NaN,10.80,2.00,0.0,22.774361,-103.279306,13.2,BQP,160948,1,NaN,NaN,NaN,NaN,13,13.2.1,13.2.1.1,32,Zacatecas,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.56366,-0.43840,-0.184128
130675,3016890,2019,43339,1,Vivo,NaN,Asparagaceae,Yucca,filifera,NaN,NaN,12,17.0,NaN,10.40,1.40,0.0,23.046333,-103.330972,12.1,BP,877086,17,NaN,NaN,NaN,NaN,12,12.1.2,12.1.2.1,32,Zacatecas,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.61283,-7.26240,-3.050208
131940,3018156,2015,43899,3,Vivo,NaN,Asparagaceae,Yucca,decipiens,NaN,NaN,9,10.0,NaN,10.00,2.00,0.0,22.911861,-100.879528,10.2,MDM,115659,9,NaN,NaN,NaN,NaN,10,10.2.4,10.2.4.7,24,San Luis PotosÃ­,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.55779,-1.86800,-0.784560
135612,3021829,2018,47272,2,Vivo,NaN,Asparagaceae,Yucca,filifera,NaN,NaN,8,8.0,NaN,10.30,2.10,0.0,22.005222,-101.082056,12.1,BP,738613,8,NaN,NaN,NaN,NaN,12,12.1.2,12.1.2.1,24,San Luis PotosÃ­,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.61283,-0.31370,-0.131754
135644,3021861,2015,43848,3,Vivo,NaN,Asparagaceae,Yucca,carnerosana,NaN,NaN,7,21.0,NaN,13.20,1.50,0.0,22.909639,-103.378722,12.1,BQ,172267,7,NaN,NaN,NaN,NaN,12,12.1.2,12.1.2.1,32,Zacatecas,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.61283,-1.24060,-0.521052
145816,3032039,2015,47244,2,Vivo,NaN,Asparagaceae,Yucca,filifera,NaN,NaN,1,1.0,NaN,13.20,1.60,0.0,22.007444,-102.444583,13.2,PN,121664,1,NaN,NaN,NaN,NaN,13,13.2.1,13.2.1.1,1,Aguascalientes,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.56366,-0.22240,-0.093408
177767,3064035,2017,45190,1,Vivo,NaN,Asparagaceae,Yucca,filifera,NaN,NaN,2,7.0,NaN,10.80,1.90,0.0,22.552583,-101.860028,10.2,MDM,669241,7,NaN,NaN,NaN,NaN,10,10.2.4,10.2.4.7,32,Zacatecas,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.55779,-1.45660,-0.611772
180433,3066702,2018,41610,1,Vivo,NaN,Asparagaceae,Yucca,carnerosana,NaN,NaN,5,8.0,NaN,12.00,1.40,0.0,23.248500,-110.116972,14.6,MSC,745246,8,NaN,NaN,NaN,NaN,14,14.6.1,14.6.1.1,3,Baja California Sur,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.50012,-4.40320,-1.849344
182331,3068608,2015,38375,2,Vivo,NaN,Asparagaceae,Yucca,valida,NaN,NaN,3,3.0,NaN,10.40,2.00,0.0,23.941361,-110.753306,10.2,MSCC,225187,3,NaN,NaN,NaN,NaN,10,10.2.3,10.2.3.3,3,Baja California Sur,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.55779,-1.15320,-0.484344
193951,3080247,2015,37956,4,Vivo,NaN,Asparagaceae,Yucca,valida,NaN,NaN,12,40.0,NaN,11.50,1.70,0.0,24.048417,-110.463417,10.2,MSC,215520,12,NaN,NaN,NaN,NaN,10,10.2.3,10.2.3.2,3,Baja California Sur,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.55779,-2.24210,-0.941682
199368,3085671,2016,41613,3,Vivo,NaN,Asparagaceae,Yucca,valida,NaN,NaN,8,9.0,NaN,10.39,1.80,0.0,23.256361,-109.971194,14.6,BQ,558528,9,NaN,NaN,NaN,NaN,14,14.6.1,14.6.1.1,3,Baja California Sur,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.50012,-3.20747,-1.347137
204741,3091055,2015,39626,2,Vivo,NaN,Asparagaceae,Yucca,valida,NaN,NaN,1,1.0,NaN,11.50,1.60,0.0,23.691250,-110.341639,10.2,MSC,215239,1,NaN,NaN,NaN,NaN,10,10.2.3,10.2.3.3,3,Baja California Sur,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.55779,-3.26030,-1.369326
207298,3093619,2015,37522,2,Vivo,NaN,Asparagaceae,Yucca,valida,NaN,NaN,12,20.0,NaN,11.70,1.80,0.0,24.128194,-110.666694,10.2,MSCC,218316,12,NaN,NaN,NaN,NaN,10,10.2.3,10.2.3.3,3,Baja California Sur,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.55779,-0.86650,-0.363930
223593,3109952,2015,37467,1,Muerto,NaN,Asparagaceae,Yucca,NaN,NaN,NaN,1,1.0,NaN,12.00,1.40,0.0,24.401917,-100.073917,10.2,BP,194619,1,NaN,NaN,NaN,NaN,10,10.2.4,10.2.4.7,19,Nuevo LeÃ³n,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.55779,-4.40320,-1.849344
247469,3133868,2018,34976,2,Vivo,NaN,Asparagaceae,Yucca,carnerosana,NaN,NaN,3,3.0,NaN,12.50,1.65,0.0,24.908861,-100.913500,10.2,BP,683871,3,NaN,NaN,NaN,NaN,10,10.2.4,10.2.4.6,5,Coahuila de Zaragoza,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.55779,-0.96420,-0.404964
253587,3139999,2017,37469,1,Vivo,NaN,Asparagaceae,Yucca,carnerosana,NaN,NaN,1,1.0,NaN,11.30,1.80,0.0,24.400667,-99.974778,13.3,BPQ,677825,1,NaN,NaN,NaN,NaN,13,13.3.1,13.3.1.1,19,Nuevo LeÃ³n,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.58924,-1.58130,-0.664146
316112,3202622,2016,19721,2,Vivo,NaN,Asparagaceae,Yucca,valida,NaN,NaN,7,11.0,NaN,11.80,1.80,0.0,27.337778,-113.119167,10.2,MSC,349901,11,NaN,NaN,NaN,NaN,10,10.2.3,10.2.3.3,3,Baja California Sur,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.55779,-0.68780,-0.288876
319502,3206020,2016,19721,1,Vivo,NaN,Asparagaceae,Yucca,valida,NaN,NaN,1,4.0,NaN,10.00,2.00,0.0,27.337778,-113.119167,10.2,MSC,349876,4,NaN,NaN,NaN,NaN,10,10.2.3,10.2.3.3,3,Baja California Sur,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.55779,-1.86800,-0.784560
331961,3218490,2016,19721,2,Vivo,NaN,Asparagaceae,Yucca,valida,NaN,NaN,7,12.0,NaN,11.30,1.60,0.0,27.337778,-113.119167,10.2,MSC,349902,12,NaN,NaN,NaN,NaN,10,10.2.3,10.2.3.3,3,Baja California Sur,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.55779,-3.61770,-1.519434
348391,3234938,2015,13957,3,Muerto,NaN,Asparagaceae,Yucca,NaN,NaN,NaN,5,5.0,NaN,10.20,1.90,0.0,28.807639,-102.058278,10.2,BQ,163545,5,NaN,NaN,NaN,NaN,10,10.2.4,10.2.4.4,5,Coahuila de Zaragoza,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.55779,-2.52880,-1.062096
357637,3244190,2015,13958,2,Muerto,NaN,Asparagaceae,Yucca,NaN,NaN,NaN,6,7.0,NaN,13.60,1.40,0.0,28.807611,-102.006972,9.6,BQP,163506,6,NaN,NaN,NaN,NaN,9,9.6.1,9.6.1.2,5,Coahuila de Zaragoza,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.64605,-1.54400,-0.648480
358002,3244555,2015,15208,4,Vivo,NaN,Asparagaceae,Yucca,valida,NaN,NaN,17,45.0,NaN,10.20,1.90,0.0,28.142750,-113.292611,10.2,MDM,240956,17,NaN,NaN,NaN,NaN,10,10.2.3,10.2.3.1,2,Baja California,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.55779,-2.52880,-1.062096
363548,3250110,2015,13483,3,Muerto,NaN,Asparagaceae,Yucca,NaN,NaN,NaN,3,3.0,NaN,11.50,1.60,0.0,28.897917,-101.853028,9.6,MSM,174836,3,NaN,NaN,NaN,NaN,9,9.6.1,9.6.1.2,5,Coahuila de Zaragoza,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.64605,-3.26030,-1.369326
369140,3255702,2016,15995,4,Vivo,NaN,Asparagaceae,Yucca,elata,NaN,NaN,2,2.0,NaN,12.40,1.40,0.0,28.253972,-108.902500,13.2,BQ,359192,2,NaN,NaN,NaN,NaN,13,13.2.1,13.2.1.1,8,Chihuahua,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.56366,-3.68840,-1.549128
373199,3259768,2015,13957,1,Muerto,NaN,Asparagaceae,Yucca,NaN,NaN,NaN,2,2.0,NaN,14.20,1.40,0.0,28.807639,-102.058278,10.2,BQ,163535,2,NaN,NaN,NaN,NaN,10,10.2.4,10.2.4.4,5,Coahuila de Zaragoza,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.55779,-0.47180,-0.198156
392645,3279235,2015,6764,1,Vivo,NaN,Asparagaceae,Yucca,carnerosana,NaN,NaN,2,2.0,NaN,12.00,1.40,0.0,30.187472,-110.099778,12.1,BQ,221181,2,NaN,NaN,NaN,NaN,12,12.1.1,12.1.1.1,26,Sonora,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.61283,-4.40320,-1.849344
400466,3287064,2016,4116,2,Vivo,NaN,Asparagaceae,Yucca,schidigera,NaN,NaN,8,11.0,NaN,10.50,2.00,0.0,30.529000,-115.283750,11.1,ML,389092,11,NaN,NaN,NaN,NaN,11,11.1.1,11.1.1.3,2,Baja California,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.49805,-0.97450,-0.409290
417322,3303940,2016,4688,4,Vivo,NaN,Asparagaceae,Yucca,elata,NaN,NaN,2,3.0,NaN,11.20,1.97,0.0,30.713722,-110.395056,12.1,BQ,388813,3,NaN,NaN,NaN,NaN,12,12.1.1,12.1.1.1,26,Sonora,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.61283,-0.02906,-0.012205
422924,3309549,2015,4355,4,Vivo,NaN,Asparagaceae,Yucca,arizonica,NaN,NaN,1,1.0,NaN,11.20,1.80,0.0,30.816611,-110.140917,12.1,BQ,231427,1,NaN,NaN,NaN,NaN,12,12.1.1,12.1.1.1,26,Sonora,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.61283,-1.76000,-0.739200
428186,3314816,2019,6599,1,Vivo,NaN,Asparagaceae,Yucca,carnerosana,NaN,NaN,4,8.0,NaN,12.00,1.50,0.0,30.261778,-109.481139,12.1,BQ,795436,8,NaN,NaN,NaN,NaN,12,12.1.1,12.1.1.1,26,Sonora,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.61283,-3.38500,-1.421700
429434,3316064,2015,6058,1,Vivo,NaN,Asparagaceae,Yucca,carnerosana,NaN,NaN,4,8.0,NaN,12.00,1.50,0.0,30.357000,-110.318833,12.1,BQ,242889,4,NaN,NaN,NaN,NaN,12,12.1.1,12.1.1.1,26,Sonora,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.61283,-3.38500,-1.421700
446266,3332908,2015,10175,2,Vivo,NaN,Asparagaceae,Yucca,valida,NaN,NaN,2,2.0,NaN,10.10,2.00,0.0,29.082139,-114.098750,10.2,MSCC,194197,2,NaN,NaN,NaN,NaN,10,10.2.3,10.2.3.1,2,Baja California,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.55779,-1.68930,-0.709506
452118,3338762,2015,15208,4,Vivo,NaN,Asparagaceae,Yucca,valida,NaN,NaN,3,18.0,NaN,11.20,1.60,0.0,28.142750,-113.292611,10.2,MDM,240926,3,NaN,NaN,NaN,NaN,10,10.2.3,10.2.3.1,2,Baja California,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.55779,-3.79640,-1.594488
459793,3346441,2015,4355,4,Vivo,NaN,Asparagaceae,Yucca,arizonica,NaN,NaN,1,2.0,NaN,11.90,1.70,0.0,30.816611,-110.140917,12.1,BQ,231428,1,NaN,NaN,NaN,NaN,12,12.1.1,12.1.1.1,26,Sonora,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.61283,-1.52730,-0.641466
465818,3352469,2019,999,1,Muerto,NaN,Asparagaceae,Yucca,schidigera,NaN,NaN,1,1.0,NaN,10.50,1.80,0.0,31.747833,-115.837917,11.1,ML,798423,1,NaN,NaN,NaN,NaN,11,11.1.1,11.1.1.3,2,Baja California,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.49805,-3.01090,-1.264578
467078,3353730,2015,14207,2,Muerto,NaN,Asparagaceae,Yucca,NaN,NaN,NaN,3,3.0,NaN,13.40,1.50,0.0,28.762139,-101.648194,9.6,BQP,163567,3,NaN,NaN,NaN,NaN,9,9.6.1,9.6.1.2,5,Coahuila de Zaragoza,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.64605,-0.88320,-0.370944
475027,3361690,2015,282,3,Vivo,NaN,Asparagaceae,Yucca,carnerosana,NaN,NaN,1,1.0,NaN,10.20,1.60,0.0,32.323528,-115.956639,11.1,BP,222938,1,NaN,NaN,NaN,NaN,11,11.1.3,11.1.3.1,2,Baja California,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.49805,-5.58340,-2.345028
477227,3363892,2016,6228,3,Vivo,NaN,Asparagaceae,Yucca,elata,NaN,NaN,8,12.0,NaN,10.80,2.00,0.0,30.298806,-110.574833,12.1,PN,386639,12,NaN,NaN,NaN,NaN,12,12.1.1,12.1.1.1,26,Sonora,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.61283,-0.43840,-0.184128
497564,3384240,2015,65558,1,Muerto,NaN,Asparagaceae,Yucca,NaN,NaN,NaN,1,2.0,NaN,13.00,1.40,0.0,18.522556,-96.929972,13.5,BM,49569,1,NaN,NaN,NaN,NaN,13,13.5.2,13.5.2.2,21,Puebla,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.57424,-2.61620,-1.098804
635428,3522340,2015,59133,1,Vivo,NaN,Asparagaceae,Yucca,periculosa,NaN,NaN,17,26.0,NaN,10.00,1.50,0.0,19.648972,-96.744333,15.1,BQ,90138,17,NaN,NaN,NaN,NaN,15,15.1.2,15.1.2.3,30,Veracruz de Ignacio de la Llave,NaN,[b]*0.42,(-40.102)+1.787*[d130]+10.182*[ht],0.53096,-6.95900,-2.922780

In [150]:
df.to_csv('ciclo_3_biomasa_carbono.csv', index=False)

In [151]:
df

,id,anio_levantamiento,conglomerado,sitio,condicion,especie_id,familia,genero,epiteto,categoria_infra,infraespecie,numero_arbol,numero_tallo,tallos,diametro,altura,is_predicted,latitud,longitud,clave_ecoregion_n2,clave_bur,referencia_1,referencia_2,user_id,created_at,updated_at,grado_putrefaccion,clave_ecoregion_n1,clave_ecoregion_n3,clave_ecoregion_n4,estado_inegi,estado,edad,carbon_eq,biomasa_eq,densidad_eq,biomasa,carbono
0,2886174,2016,50760,1,Vivo,NaN,Malvaceae,Hampea,trilobata,NaN,NaN,14,16.0,NaN,8.3,6.4,0.0,20.622000,-87.336694,15.2,SMQ,493302,16,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,[b]*0.43,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.61222,18.932901,8.141148
1,2886175,2016,50760,1,Vivo,NaN,Nyctaginaceae,Neea,psychotrioides,NaN,NaN,21,23.0,NaN,10.4,8.6,0.0,20.622000,-87.336694,15.2,SMQ,493309,23,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,[b]*0.447,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.61222,37.515515,16.769435
2,2886176,2016,50760,1,Vivo,NaN,Fabaceae,Lysiloma,latisiliquum,NaN,NaN,29,34.0,NaN,32.8,10.3,0.0,20.622000,-87.336694,15.2,SMQ,493320,34,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,(0.4709*[b]),Exp(-1.852)*([d130]**2.378),0.61222,631.589091,297.415303
3,2886177,2016,50760,1,Vivo,NaN,Malvaceae,Luehea,speciosa,NaN,NaN,35,40.0,NaN,8.2,7.9,0.0,20.622000,-87.336694,15.2,SMQ,493326,40,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,[b]*0.43,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.61222,22.456323,9.656219
4,2886178,2016,50760,1,Vivo,NaN,Sapotaceae,Sideroxylon,salicifolium,NaN,NaN,44,49.0,NaN,9.8,6.8,0.0,20.622000,-87.336694,15.2,SMQ,493335,49,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,[b]*0.4829,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.61222,27.133735,13.102881
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
830436,3717500,2016,50303,1,Vivo,NaN,Fabaceae,Caesalpinia,platyloba,NaN,NaN,6,6.0,NaN,17.8,9.1,0.0,20.693639,-87.135167,15.2,SMQ,523099,6,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,(0.5106*[b]),(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.61222,105.744213,53.992995
830437,3717501,2016,50303,2,Vivo,NaN,Fabaceae,Swartzia,cubensis,NaN,NaN,12,13.0,NaN,8.3,7.8,0.0,20.693639,-87.135167,15.2,SMQ,523135,13,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,(0.51*[b]),(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.61222,22.694205,11.574044
830438,3717502,2016,50303,2,Vivo,NaN,Arecaceae,Sabal,yapa,NaN,NaN,13,14.0,NaN,17.7,10.3,0.0,20.693639,-87.135167,15.2,SMQ,523136,14,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,[b]*0.4,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.61222,117.233349,46.893340
830439,3717503,2016,50303,2,Vivo,NaN,Sapotaceae,Manilkara,zapota,NaN,NaN,24,25.0,NaN,32.3,9.1,0.0,20.693639,-87.135167,15.2,SMQ,523147,25,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,(0.4789*[b]),(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.61222,315.025846,150.865878
830440,3717504,2016,50303,2,Vivo,NaN,Anacardiaceae,Metopium,brownei,NaN,NaN,9,10.0,NaN,8.4,7.7,0.0,20.693639,-87.135167,15.2,SMQ,523132,10,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,(0.4974*[b]),(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.61222,22.925056,11.402923

# carbono 2

In [54]:
carbono = np.zeros(len(df))
df.insert(38, 'carbono', carbono)

In [55]:
df.carbono = df.biomasa * df.densidad_eq.astype(float)

In [56]:
df[df.condicion == "Muerto"]

,id,anio_levantamiento,conglomerado,sitio,condicion,especie_id,familia,genero,epiteto,categoria_infra,infraespecie,numero_arbol,numero_tallo,tallos,diametro,altura,is_predicted,latitud,longitud,clave_ecoregion_n2,clave_bur,referencia_1,referencia_2,user_id,created_at,updated_at,grado_putrefaccion,clave_ecoregion_n1,clave_ecoregion_n3,clave_ecoregion_n4,estado_inegi,estado,edad,volumen_eq,biomasa_eq,densidad_eq,volumen,biomasa,carbono
13,2886187,2017,49834,2,Muerto,NaN,Fabaceae,Lysiloma,latisiliquum,NaN,NaN,57,66.0,NaN,12.6,7.4,0.0,20.807139,-87.365111,15.2,SMQ,659332,66,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,(3.14159 * (([d130] / 2 / 100) ** 2) * [ht]) / 3,1000 * ([p] * [v]),0.53441,0.030757,16.436739,8.783957
19,2886193,2017,49834,3,Muerto,NaN,Fabaceae,Lysiloma,latisiliquum,NaN,NaN,47,48.0,NaN,12.7,1.5,0.0,20.807139,-87.365111,15.2,SMQ,659366,48,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,(3.14159 * (([d130] / 2 / 100) ** 2) * [ht]) / 3,1000 * ([p] * [v]),0.53441,0.006334,3.384866,1.808906
20,2886194,2019,49574,3,Muerto,NaN,Sapindaceae,Thouinia,paucidentata,NaN,NaN,23,26.0,NaN,14.5,12.5,0.0,20.980000,-88.753667,15.2,SMS,859610,26,NaN,NaN,NaN,NaN,15,15.2.1,15.2.1.1,31,YucatÃ¡n,NaN,(3.14159 * (([d130] / 2 / 100) ** 2) * [ht]) / 3,1000 * ([p] * [v]),0.70831,0.068804,48.734627,34.519224
23,2886197,2019,49574,3,Muerto,NaN,Fabaceae,Acosmium,panamense,NaN,NaN,7,8.0,NaN,34.0,12.1,0.0,20.980000,-88.753667,15.2,SMS,859592,8,NaN,NaN,NaN,NaN,15,15.2.1,15.2.1.1,31,YucatÃ¡n,NaN,(3.14159 * (([d130] / 2 / 100) ** 2) * [ht]) / 3,1000 * ([p] * [v]),0.82291,0.366194,301.344871,247.979708
61,2886235,2015,50749,2,Muerto,NaN,ZZ Familia Desconocida,ZZ Genero Desconocido,NaN,NaN,NaN,28,31.0,NaN,15.7,3.1,0.0,20.672000,-87.864250,15.2,SMS,315141,28,NaN,NaN,NaN,NaN,15,15.2.1,15.2.1.1,31,YucatÃ¡n,NaN,(3.14159 * (([d130] / 2 / 100) ** 2) * [ht]) / 3,1000 * ([p] * [v]),0.61222,0.020005,12.247199,7.497980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
830596,3717351,2016,50148,2,Muerto,NaN,ZZ Familia Desconocida,ZZ Genero Desconocido,NaN,NaN,NaN,4,13.0,NaN,8.2,3.3,0.0,21.417778,-101.667278,12.2,BQP,521232,13,NaN,NaN,NaN,NaN,12,12.2.1,12.2.1.2,14,Jalisco,NaN,(3.14159 * (([d130] / 2 / 100) ** 2) * [ht]) / 3,1000 * ([p] * [v]),0.59768,0.005809,3.471991,2.075140
830629,3717384,2018,49964,2,Muerto,NaN,ZZ Familia Desconocida,ZZ Genero Desconocido,NaN,NaN,NaN,11,14.0,NaN,12.5,7.3,0.0,21.439056,-99.340611,13.3,MSM,727727,14,NaN,NaN,NaN,NaN,13,13.3.1,13.3.1.1,22,QuerÃ©taro,NaN,(3.14159 * (([d130] / 2 / 100) ** 2) * [ht]) / 3,1000 * ([p] * [v]),0.58924,0.029861,17.595571,10.368014
830630,3717385,2018,49964,2,Muerto,NaN,ZZ Familia Desconocida,ZZ Genero Desconocido,NaN,NaN,NaN,14,17.0,NaN,20.2,5.4,0.0,21.439056,-99.340611,13.3,MSM,727730,17,NaN,NaN,NaN,NaN,13,13.3.1,13.3.1.1,22,QuerÃ©taro,NaN,(3.14159 * (([d130] / 2 / 100) ** 2) * [ht]) / 3,1000 * ([p] * [v]),0.58924,0.057685,33.990455,20.028536
830675,3717430,2015,50012,3,Muerto,NaN,Fabaceae,Havardia,albicans,NaN,NaN,10,10.0,NaN,7.8,6.0,0.0,20.989444,-89.964944,14.2,SBC,106811,10,NaN,NaN,NaN,NaN,14,14.2.1,14.2.1.2,31,YucatÃ¡n,NaN,(3.14159 * (([d130] / 2 / 100) ** 2) * [ht]) / 3,1000 * ([p] * [v]),0.62288,0.009557,5.952688,3.707810
830704,3717459,2015,50759,3,Muerto,NaN,ZZ Familia Desconocida,ZZ Genero Desconocido,NaN,NaN,NaN,27,27.0,NaN,9.8,6.5,0.0,20.626667,-87.384722,15.2,SMQ,22589,27,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,(3.14159 * (([d130] / 2 / 100) ** 2) * [ht]) / 3,1000 * ([p] * [v]),0.61222,0.016343,10.005557,6.125602

In [120]:
df

,id,anio_levantamiento,conglomerado,sitio,condicion,especie_id,familia,genero,epiteto,categoria_infra,infraespecie,numero_arbol,numero_tallo,tallos,diametro,altura,is_predicted,latitud,longitud,clave_ecoregion_n2,clave_bur,referencia_1,referencia_2,user_id,created_at,updated_at,grado_putrefaccion,clave_ecoregion_n1,clave_ecoregion_n3,clave_ecoregion_n4,estado_inegi,estado,edad,volumen_eq,biomasa_eq,densidad_eq,volumen,biomasa,carbono
0,2886174,2016,50760,1,Vivo,NaN,Malvaceae,Hampea,trilobata,NaN,NaN,14,16.0,NaN,8.3,6.4,0.0,20.622000,-87.336694,15.2,SMQ,493302,16,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.35341,0.0,11.445461,4.044940
1,2886175,2016,50760,1,Vivo,NaN,Nyctaginaceae,Neea,psychotrioides,NaN,NaN,21,23.0,NaN,10.4,8.6,0.0,20.622000,-87.336694,15.2,SMQ,493309,23,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.314,0.0,20.351254,6.390294
2,2886176,2016,50760,1,Vivo,NaN,Fabaceae,Lysiloma,latisiliquum,NaN,NaN,29,34.0,NaN,32.8,10.3,0.0,20.622000,-87.336694,15.2,SMQ,493320,34,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,Exp(-1.852)*([d130]**2.378),0.53441,0.0,631.589091,337.527526
3,2886177,2016,50760,1,Vivo,NaN,Malvaceae,Luehea,speciosa,NaN,NaN,35,40.0,NaN,8.2,7.9,0.0,20.622000,-87.336694,15.2,SMQ,493326,40,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.60574,0.0,22.238504,13.470751
4,2886178,2016,50760,1,Vivo,NaN,Sapotaceae,Sideroxylon,salicifolium,NaN,NaN,44,49.0,NaN,9.8,6.8,0.0,20.622000,-87.336694,15.2,SMQ,493335,49,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.82171,0.0,35.529125,29.194638
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
830745,3717500,2016,50303,1,Vivo,NaN,Fabaceae,Caesalpinia,platyloba,NaN,NaN,6,6.0,NaN,17.8,9.1,0.0,20.693639,-87.135167,15.2,SMQ,523099,6,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.89628,0.0,149.929731,134.379019
830746,3717501,2016,50303,2,Vivo,NaN,Fabaceae,Swartzia,cubensis,NaN,NaN,12,13.0,NaN,8.3,7.8,0.0,20.693639,-87.135167,15.2,SMQ,523135,13,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.86045,0.0,30.996765,26.671167
830747,3717502,2016,50303,2,Vivo,NaN,Arecaceae,Sabal,yapa,NaN,NaN,13,14.0,NaN,17.7,10.3,0.0,20.693639,-87.135167,15.2,SMQ,523136,14,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.61222,0.0,117.233349,71.772601
830748,3717503,2016,50303,2,Vivo,NaN,Sapotaceae,Manilkara,zapota,NaN,NaN,24,25.0,NaN,32.3,9.1,0.0,20.693639,-87.135167,15.2,SMQ,523147,25,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.79789,0.0,401.530660,320.377298
830749,3717504,2016,50303,2,Vivo,NaN,Anacardiaceae,Metopium,brownei,NaN,NaN,9,10.0,NaN,8.4,7.7,0.0,20.693639,-87.135167,15.2,SMQ,523132,10,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.61789,0.0,23.119464,14.285285

In [117]:
df_arboles = pd.read_csv("arboles_2015.csv", low_memory=False)

In [118]:
zeros = np.zeros(len(df_arboles))
df_arboles.insert(16, 'is_predicted', zeros)
df_arboles.insert(32, 'volumen_eq', zeros)
df_arboles.insert(33, 'biomasa_eq', zeros)
df_arboles.insert(34, 'densidad_eq', zeros)
df_arboles.insert(35, 'volumen', zeros)
df_arboles.insert(36, 'biomasa', zeros)
df_arboles.insert(37, 'carbono', zeros)

In [119]:
df_arboles

,id,anio_levantamiento,conglomerado,sitio,condicion,especie_id,familia,genero,epiteto,categoria_infra,infraespecie,numero_arbol,numero_tallo,tallos,diametro,altura,is_predicted,latitud,longitud,clave_ecoregion_n2,clave_bur,referencia_1,referencia_2,user_id,created_at,updated_at,grado_putrefaccion,clave_ecoregion_n1,clave_ecoregion_n3,clave_ecoregion_n4,estado_inegi,estado,volumen_eq,biomasa_eq,densidad_eq,volumen,biomasa,carbono,edad
0,2886174,2016,50760,1,Vivo,NaN,Malvaceae,Hampea,trilobata,NaN,NaN,14,16.0,NaN,8.3,6.4,0.0,20.622000,-87.336694,15.2,SMQ,493302,16,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,2886175,2016,50760,1,Vivo,NaN,Nyctaginaceae,Neea,psychotrioides,NaN,NaN,21,23.0,NaN,10.4,8.6,0.0,20.622000,-87.336694,15.2,SMQ,493309,23,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,2886176,2016,50760,1,Vivo,NaN,Fabaceae,Lysiloma,latisiliquum,NaN,NaN,29,34.0,NaN,32.8,10.3,0.0,20.622000,-87.336694,15.2,SMQ,493320,34,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,2886177,2016,50760,1,Vivo,NaN,Malvaceae,Luehea,speciosa,NaN,NaN,35,40.0,NaN,8.2,7.9,0.0,20.622000,-87.336694,15.2,SMQ,493326,40,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,2886178,2016,50760,1,Vivo,NaN,Sapotaceae,Sideroxylon,salicifolium,NaN,NaN,44,49.0,NaN,9.8,6.8,0.0,20.622000,-87.336694,15.2,SMQ,493335,49,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,0.0,0.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
831326,3717500,2016,50303,1,Vivo,NaN,Fabaceae,Caesalpinia,platyloba,NaN,NaN,6,6.0,NaN,17.8,9.1,0.0,20.693639,-87.135167,15.2,SMQ,523099,6,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,0.0,0.0,0.0,0.0,0.0,0.0,NaN
831327,3717501,2016,50303,2,Vivo,NaN,Fabaceae,Swartzia,cubensis,NaN,NaN,12,13.0,NaN,8.3,7.8,0.0,20.693639,-87.135167,15.2,SMQ,523135,13,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,0.0,0.0,0.0,0.0,0.0,0.0,NaN
831328,3717502,2016,50303,2,Vivo,NaN,Arecaceae,Sabal,yapa,NaN,NaN,13,14.0,NaN,17.7,10.3,0.0,20.693639,-87.135167,15.2,SMQ,523136,14,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,0.0,0.0,0.0,0.0,0.0,0.0,NaN
831329,3717503,2016,50303,2,Vivo,NaN,Sapotaceae,Manilkara,zapota,NaN,NaN,24,25.0,NaN,32.3,9.1,0.0,20.693639,-87.135167,15.2,SMQ,523147,25,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,0.0,0.0,0.0,0.0,0.0,0.0,NaN
831330,3717504,2016,50303,2,Vivo,NaN,Anacardiaceae,Metopium,brownei,NaN,NaN,9,10.0,NaN,8.4,7.7,0.0,20.693639,-87.135167,15.2,SMQ,523132,10,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [57]:
df.to_csv("out_fixed_v2.csv", index=False)

In [104]:
df_arboles.loc[(df_arboles['altura'] <= 1.3) & (df_arboles.condicion != "TocÃ³n"), 'altura'] = np.nan
df_arboles.loc[(df_arboles['altura'] >= 200) & (df_arboles.condicion != "TocÃ³n"), 'altura'] = np.nan

df_arboles.loc[(df_arboles['altura'] <= .3) & (df_arboles.condicion == "TocÃ³n"), 'altura'] = np.nan
df_arboles.loc[(df_arboles['altura'] >= 1.3) & (df_arboles.condicion == "TocÃ³n"), 'altura'] = np.nan


df_arboles.loc[(df_arboles['diametro'] <= 7.5), 'diametro'] = np.nan
df_arboles.loc[(df_arboles['diametro'] >= 100), 'diametro'] = np.nan


# Remove rows where both 'altura' and 'diametro' are NaN
#df_arboles = df_arboles[~(df_arboles['altura'].isnull() & df_arboles['diametro'].isnull())]

In [106]:
df_arboles[~(df_arboles['altura'].isnull() & df_arboles['diametro'].isnull())] = df

/tmp/ipykernel_32057/666094042.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['SMQ' 'SMQ' 'SMQ' ... nan nan nan]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_arboles[~(df_arboles['altura'].isnull() & df_arboles['diametro'].isnull())] = df
/tmp/ipykernel_32057/666094042.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['15.2.2.2' '15.2.2.2' '15.2.2.2' ... nan nan nan]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_arboles[~(df_arboles['altura'].isnull() & df_arboles['diametro'].isnull())] = df
/tmp/ipykernel_32057/666094042.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['Quintana Roo' 'Quintana Roo' 'Quintana Roo' ... nan nan nan]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_arboles[~(df_arboles['altura'].isnull() & df_arboles['diametro'].isnull())] = df

In [ ]:
df_not_nulls.to_csv(f"{args.output_file}", index=False)

In [107]:
df_arboles

,id,anio_levantamiento,conglomerado,sitio,condicion,especie_id,familia,genero,epiteto,categoria_infra,infraespecie,numero_arbol,numero_tallo,tallos,diametro,altura,latitud,longitud,clave_ecoregion_n2,clave_bur,referencia_1,referencia_2,user_id,created_at,updated_at,grado_putrefaccion,clave_ecoregion_n1,clave_ecoregion_n3,clave_ecoregion_n4,estado_inegi,estado,edad
0,2886174.0,2016.0,50760.0,1.0,Vivo,NaN,Malvaceae,Hampea,trilobata,NaN,NaN,14.0,16.0,NaN,8.3,6.4,0.0,20.622,-87.336694,15.2,SMQ,493302.0,16.0,NaN,NaN,NaN,NaN,15.0,15.2.2,15.2.2.2,23.0,Quintana Roo
1,2886175.0,2016.0,50760.0,1.0,Vivo,NaN,Nyctaginaceae,Neea,psychotrioides,NaN,NaN,21.0,23.0,NaN,10.4,8.6,0.0,20.622,-87.336694,15.2,SMQ,493309.0,23.0,NaN,NaN,NaN,NaN,15.0,15.2.2,15.2.2.2,23.0,Quintana Roo
2,2886176.0,2016.0,50760.0,1.0,Vivo,NaN,Fabaceae,Lysiloma,latisiliquum,NaN,NaN,29.0,34.0,NaN,32.8,10.3,0.0,20.622,-87.336694,15.2,SMQ,493320.0,34.0,NaN,NaN,NaN,NaN,15.0,15.2.2,15.2.2.2,23.0,Quintana Roo
3,2886177.0,2016.0,50760.0,1.0,Vivo,NaN,Malvaceae,Luehea,speciosa,NaN,NaN,35.0,40.0,NaN,8.2,7.9,0.0,20.622,-87.336694,15.2,SMQ,493326.0,40.0,NaN,NaN,NaN,NaN,15.0,15.2.2,15.2.2.2,23.0,Quintana Roo
4,2886178.0,2016.0,50760.0,1.0,Vivo,NaN,Sapotaceae,Sideroxylon,salicifolium,NaN,NaN,44.0,49.0,NaN,9.8,6.8,0.0,20.622,-87.336694,15.2,SMQ,493335.0,49.0,NaN,NaN,NaN,NaN,15.0,15.2.2,15.2.2.2,23.0,Quintana Roo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
831326,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
831327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
831328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
831329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
831330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
df

,id,anio_levantamiento,conglomerado,sitio,condicion,especie_id,familia,genero,epiteto,categoria_infra,infraespecie,numero_arbol,numero_tallo,tallos,diametro,altura,is_predicted,latitud,longitud,clave_ecoregion_n2,clave_bur,referencia_1,referencia_2,user_id,created_at,updated_at,grado_putrefaccion,clave_ecoregion_n1,clave_ecoregion_n3,clave_ecoregion_n4,estado_inegi,estado,edad,volumen_eq,biomasa_eq,densidad_eq,volumen,biomasa,carbono
0,2886174,2016,50760,1,Vivo,NaN,Malvaceae,Hampea,trilobata,NaN,NaN,14,16.0,NaN,8.3,6.4,0.0,20.622000,-87.336694,15.2,SMQ,493302,16,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.35341,0.0,11.445461,4.044940
1,2886175,2016,50760,1,Vivo,NaN,Nyctaginaceae,Neea,psychotrioides,NaN,NaN,21,23.0,NaN,10.4,8.6,0.0,20.622000,-87.336694,15.2,SMQ,493309,23,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.314,0.0,20.351254,6.390294
2,2886176,2016,50760,1,Vivo,NaN,Fabaceae,Lysiloma,latisiliquum,NaN,NaN,29,34.0,NaN,32.8,10.3,0.0,20.622000,-87.336694,15.2,SMQ,493320,34,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,Exp(-1.852)*([d130]**2.378),0.53441,0.0,631.589091,337.527526
3,2886177,2016,50760,1,Vivo,NaN,Malvaceae,Luehea,speciosa,NaN,NaN,35,40.0,NaN,8.2,7.9,0.0,20.622000,-87.336694,15.2,SMQ,493326,40,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.60574,0.0,22.238504,13.470751
4,2886178,2016,50760,1,Vivo,NaN,Sapotaceae,Sideroxylon,salicifolium,NaN,NaN,44,49.0,NaN,9.8,6.8,0.0,20.622000,-87.336694,15.2,SMQ,493335,49,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.82171,0.0,35.529125,29.194638
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
830745,3717500,2016,50303,1,Vivo,NaN,Fabaceae,Caesalpinia,platyloba,NaN,NaN,6,6.0,NaN,17.8,9.1,0.0,20.693639,-87.135167,15.2,SMQ,523099,6,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.89628,0.0,149.929731,134.379019
830746,3717501,2016,50303,2,Vivo,NaN,Fabaceae,Swartzia,cubensis,NaN,NaN,12,13.0,NaN,8.3,7.8,0.0,20.693639,-87.135167,15.2,SMQ,523135,13,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.86045,0.0,30.996765,26.671167
830747,3717502,2016,50303,2,Vivo,NaN,Arecaceae,Sabal,yapa,NaN,NaN,13,14.0,NaN,17.7,10.3,0.0,20.693639,-87.135167,15.2,SMQ,523136,14,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.61222,0.0,117.233349,71.772601
830748,3717503,2016,50303,2,Vivo,NaN,Sapotaceae,Manilkara,zapota,NaN,NaN,24,25.0,NaN,32.3,9.1,0.0,20.693639,-87.135167,15.2,SMQ,523147,25,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.79789,0.0,401.530660,320.377298
830749,3717504,2016,50303,2,Vivo,NaN,Anacardiaceae,Metopium,brownei,NaN,NaN,9,10.0,NaN,8.4,7.7,0.0,20.693639,-87.135167,15.2,SMQ,523132,10,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,None,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.61789,0.0,23.119464,14.285285

In [4]:
df = pd.read_csv("out_fixed.csv")

/tmp/ipykernel_306275/437447404.py:1: DtypeWarning: Columns (9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("out_fixed.csv")

In [7]:
df

,id,anio_levantamiento,conglomerado,sitio,condicion,especie_id,familia,genero,epiteto,categoria_infra,infraespecie,numero_arbol,numero_tallo,tallos,diametro,altura,is_predicted,latitud,longitud,clave_ecoregion_n2,clave_bur,referencia_1,referencia_2,user_id,created_at,updated_at,grado_putrefaccion,clave_ecoregion_n1,clave_ecoregion_n3,clave_ecoregion_n4,estado_inegi,estado,edad,volumen_eq,biomasa_eq,densidad_eq,volumen,biomasa,carbono
0,2886174,2016,50760,1,Vivo,NaN,Malvaceae,Hampea,trilobata,NaN,NaN,14,16.0,NaN,8.3,6.4,0.0,20.622000,-87.336694,15.2,SMQ,493302,16,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,NaN,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.35341,0.0,11.445461,4.044940
1,2886175,2016,50760,1,Vivo,NaN,Nyctaginaceae,Neea,psychotrioides,NaN,NaN,21,23.0,NaN,10.4,8.6,0.0,20.622000,-87.336694,15.2,SMQ,493309,23,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,NaN,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.31400,0.0,20.351254,6.390294
2,2886176,2016,50760,1,Vivo,NaN,Fabaceae,Lysiloma,latisiliquum,NaN,NaN,29,34.0,NaN,32.8,10.3,0.0,20.622000,-87.336694,15.2,SMQ,493320,34,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,NaN,Exp(-1.852)*([d130]**2.378),0.53441,0.0,631.589091,337.527526
3,2886177,2016,50760,1,Vivo,NaN,Malvaceae,Luehea,speciosa,NaN,NaN,35,40.0,NaN,8.2,7.9,0.0,20.622000,-87.336694,15.2,SMQ,493326,40,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,NaN,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.60574,0.0,22.238504,13.470751
4,2886178,2016,50760,1,Vivo,NaN,Sapotaceae,Sideroxylon,salicifolium,NaN,NaN,44,49.0,NaN,9.8,6.8,0.0,20.622000,-87.336694,15.2,SMQ,493335,49,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,NaN,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.82171,0.0,35.529125,29.194638
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
830745,3717500,2016,50303,1,Vivo,NaN,Fabaceae,Caesalpinia,platyloba,NaN,NaN,6,6.0,NaN,17.8,9.1,0.0,20.693639,-87.135167,15.2,SMQ,523099,6,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,NaN,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.89628,0.0,149.929731,134.379019
830746,3717501,2016,50303,2,Vivo,NaN,Fabaceae,Swartzia,cubensis,NaN,NaN,12,13.0,NaN,8.3,7.8,0.0,20.693639,-87.135167,15.2,SMQ,523135,13,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,NaN,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.86045,0.0,30.996765,26.671167
830747,3717502,2016,50303,2,Vivo,NaN,Arecaceae,Sabal,yapa,NaN,NaN,13,14.0,NaN,17.7,10.3,0.0,20.693639,-87.135167,15.2,SMQ,523136,14,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,NaN,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.61222,0.0,117.233349,71.772601
830748,3717503,2016,50303,2,Vivo,NaN,Sapotaceae,Manilkara,zapota,NaN,NaN,24,25.0,NaN,32.3,9.1,0.0,20.693639,-87.135167,15.2,SMQ,523147,25,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,NaN,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.79789,0.0,401.530660,320.377298
830749,3717504,2016,50303,2,Vivo,NaN,Anacardiaceae,Metopium,brownei,NaN,NaN,9,10.0,NaN,8.4,7.7,0.0,20.693639,-87.135167,15.2,SMQ,523132,10,NaN,NaN,NaN,NaN,15,15.2.2,15.2.2.2,23,Quintana Roo,NaN,NaN,(Exp(-2.187+(0.916*(LOG(([p])*(([d130])**2)*([...,0.61789,0.0,23.119464,14.285285